*.log
*.sublime-project
*.sublime-workspace
*.pyc
node_modules
*~
*#
*.pyc
*.rdb
*.sqlite
src/client/dist/
src/client/src/assets/123cam/123_3.jpg
src/client/src/assets/123cam/123_1.jpg
src/client/src/assets/123cam/123_2.jpg
src/client/src/assets/123cam/123_4.jpg
src/client/src/assets/123cam/123_5.jpg
src/client/src/assets/123cam/v123_1.MP4
src/server/media/fotos_campo/22_1.jpg
src/server/media/fotos_campo/51_1.jpg
src/server/media/fotos_campo/60_1.jpg
src/server/media/fotos_campo/60_2.jpg
src/server/media/fotos_campo/62_1.jpg
src/server/media/fotos_campo/63_1.jpg
