*.log
*.sublime-project
*.sublime-workspace
*.pyc
.idea
.vscode
node_modules
*~
*#
*.pyc
*.rdb
*.sqlite
src/client/dist/
src/server/tmp
src/server/uploads
src/server/media
src/server/.env
src/server/download-dpat
src/client/package-lock.json
src/server/package-lock.json
src/server/scripts/bfast/result.csv
src/server/scripts/bfast/.env
src/server/scripts/amostral/.env
src/server/scripts/amostral/validacao_amostral.csv
src/client/package-lock.json
src/client/package-lock.json
.env
src/server/scripts/bfast/result_r.csv
src/server/package-lock.json
