/*:host {            
     display: block; 
    left: 0;
    width: 100%;         
    height: 100%;  
}*/

/*.imgContainerClass{
    display: block; 
    left: 0;
    width: 100%;         
    height: 100%; 
}*/

