<section id="tutorials">
    <mat-tab-group>
        <mat-tab [label]="controls.folder">
            <p-scrollPanel [style]="{padding: '20px', width: '100%', height: '81vh'}">
                <iframe width="100%" [height]="innerHeigth" src="../../../assets/documents/folder.pdf" frameborder="0"  allowfullscreen></iframe>
            </p-scrollPanel>
        </mat-tab>
        <mat-tab [label]="controls.release">
            <p-scrollPanel [style]="{padding: '20px', width: '100%', height: '75vh'}">
                <div style="max-width: 100%; max-height: 95%; position: relative; padding: 10px">
                    <iframe width="100%" [height]="innerHeigth" src="https://www.youtube.com/embed/VYcj_J-P2qo?autoplay=1&origin=https://cerradodpat.org" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </p-scrollPanel>
        </mat-tab>
        <mat-tab [label]="controls.training">
            <p-scrollPanel [style]="{padding: '20px', width: '100%', height: '75vh'}">
                <iframe width="100%" [height]="innerHeigth" src="https://www.youtube.com/embed/OqB2xT7vPvk?autoplay=1&origin=https://cerradodpat.org" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </p-scrollPanel>
        </mat-tab>
    </mat-tab-group>
    <div class="signature">
        <img class="report-partners" src="assets/img/assinatura-02.png" />
    </div>
    <button (click)="dialogRef.close()" color="primary" classs="btn-info " mat-icon-button>
        <mat-icon>highlight_off</mat-icon>
    </button>
</section>