<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <img style="height: 40px; margin-right: 10px;" src="/assets/logo.png" />
  <a class="navbar-brand" href="#">Deforestation Polygon Assessment Tool</a>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 dpat-ol-div">
      <div id="map" class="dpat-ol-map"></div>
      <div class="card card-layers">
        <div class="card-header">
            Camadas Geográficas
            <button type="button" class="collapse-btn btn btn-dark btn-sm float-right" (click)="collapseLayer = !collapseLayer"
                  [attr.aria-expanded]="!collapseLayer" aria-controls="camadageografica">-</button>
        </div>
        <div id="camadageografica" class="card-block dpat-layer-group" [ngbCollapse]="collapseLayer">
          <!-- <div class="col-3 col-sm-3 col-md-3 col-lg-3 col-xl-3">
            <label for="typeahead-http">Região:</label>
          </div> -->
          <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <ng-template #rt let-r="result" let-t="term">
              <ngb-highlight [result]="r.text" [term]="t"></ngb-highlight>
            </ng-template>
            <input [disabled]="this.selectedDeforestationOpt.value == 'VALIDATED'" id="typeahead-http" type="text" class="form-control search-box" [class.is-invalid]="searchFailed" [(ngModel)]="valueRegion" [ngbTypeahead]="search" placeholder="Escolha um estado/município" (selectItem)="updateRegion($event.item)" [resultTemplate]="rt" [inputFormatter]="formatter"/>
            <img [hidden]="selectRegion == defaultRegion" class="clear-region-btn" (click)="updateRegion(defaultRegion)" src="/assets/img/clear_button.png" />
            <span *ngIf="searching">localizando...</span>
            <div class="invalid-feedback" *ngIf="searchFailed">Desculpe, Região não encontrada.</div>
            
            <div class="dpat-period-group input-group input-group-sm">
              <div class="input-group-prepend">
                <label class="input-group-text" for="inputGroupSelect01">Período de análise</label>
              </div>
              <select [disabled]="this.selectedDeforestationOpt.value == 'VALIDATED'" name="startYear" class="custom-select custom-select-sm" [(ngModel)]="selectedPeriod" (ngModelChange)="updatePeriod()">
                  <option *ngFor="let period of periods" [ngValue]="period">  
                  {{period.label}}
                  </option>
              </select>
            </div>
            <hr>
            <div class="layer-switch">
              <ui-switch color="#fc16ef" (ngModelChange)="desmatamento.layer.setVisible($event)" [(ngModel)]="desmatamento.visible"></ui-switch> 
              <span [hidden]="this.selectedDeforestationOpt.value != 'ALL'">{{desmatamento.label}} {{ selectedPeriod.endYear }}</span> 
              <span [hidden]="this.selectedDeforestationOpt.value != 'VALIDATED'">Desmat. PRODES Validados em Campo</span> 
              <div class="layer-info">
                <img class="info-icon" src="/assets/img/info.png" />
                <span [hidden]="this.selectedDeforestationOpt.value != 'ALL'" class="info-text">{{indicator.deforestation | number:'1.0-0' }} km<sup>2</sup></span>
                <span [hidden]="this.selectedDeforestationOpt.value != 'VALIDATED'" class="info-text">{{polValidados}} polígonos</span>
              </div>
            </div>
            <div class="layer-switch">
              <ui-switch color="#343a40" (ngModelChange)="antropico.layer.setVisible($event)" [(ngModel)]="antropico.visible"></ui-switch> {{antropico.label}} {{ selectedPeriod.startYear }}
              <div class="layer-info">
                <img class="info-icon" src="/assets/img/info.png" />
                <span class="info-text">{{indicator.anthropic | number:'1.0-0' }} km<sup>2</sup></span>
              </div>
            </div>
            <div class="layer-switch">
              <ui-switch color="#d7191c" (ngModelChange)="sucetibilidade.layer.setVisible($event)" [(ngModel)]="sucetibilidade.visible"></ui-switch> {{sucetibilidade.label}}
            </div>
            <div class="layer-switch">
              <ui-switch color="#7fb26d" (ngModelChange)="mosaicVisible(landsat, $event)" [(ngModel)]="landsat.visible"></ui-switch> {{landsat.label}}
            </div>
            <div [hidden]="selectedPeriod.endYear != 2017" class="layer-switch">
              <ui-switch color="#9e7269" (ngModelChange)="mosaicVisible(sentinel, $event)" [(ngModel)]="sentinel.visible"></ui-switch> {{sentinel.label}}
            </div>
          </div>
        </div>
      </div>

      <div class="card card-swipe" [hidden]="((!sentinel.visible && !landsat.visible) && !sucetibilidade.visible && !desmatamento.visible) || collapseLayer" >
        <div class="card-block">
          <div [hidden]="!desmatamento.visible">
            <div class="label-visual-inspect">Desmatamentos PRODES e DETER-Cerrado<br></div>
            <form class="deforestation-viz form-inline">
              <div class="input-group input-group-sm">
                <div class="input-group-prepend">
                  <label class="label-deforestation input-group-text" for="inputGroupSelect01">Visualizar </label>
                </div>
                <select style="width: 245px;" name="startYear" class="custom-select custom-select-sm" [(ngModel)]="selectedDeforestationOpt" (ngModelChange)="updateDeforestationOpt()">
                  <option *ngFor="let deforestationOpt of deforestationOpts" [ngValue]="deforestationOpt">  
                  {{deforestationOpt.label}}
                  </option>>
                </select>
              </div>
            </form>
          </div>
          <div [hidden]="(!sentinel.visible && !landsat.visible)">
            <div class="label-visual-inspect">Comparação visual entre mosaicos<br></div>
              <span class="custom-slider">
                <span class="float-left year-slider-label">{{selectedPeriod.startYear}}</span>
                <ng5-slider [(value)]="landsat.opacity" [options]="sliderOptions" (userChange)="mosaicOpacity($event)"></ng5-slider>
                <span class="float-right year-slider-label">{{selectedPeriod.endYear}}</span>
              </span>
            </div>
          <div [hidden]="!sucetibilidade.visible">
            <div class="label-visual-inspect">Sucetibilidade a Desmatamento<br></div>
            <img style="margin-left: 10px;" src="http://ows.lapig.iesa.ufg.br/ows?TRANSPARENT=TRUE&VERSION=1.1.1&SERVICE=WMS&REQUEST=GetLegendGraphic&LAYER=bi_ce_suscetibilidade_desmatamento_100_na_lapig&format=image%2Fpng">
          </div>
        </div>
      </div>
      <div class="card card-info" [hidden]="closeInfo">
        <div class="card-header">
            Informações
            <button type="button" class="collapse-btn btn btn-dark btn-sm float-right" (click)="closeInfo = !closeInfo"
                  aria-controls="info">X</button>
        </div>
        <div style="padding: 7px; margin: 0px;" id="info" class="card-block dpat-layer-group">
          <img style="width: 345px;" src="{{infoFeature.foto}}">
          <div class="field-uso">
            <b>{{infoFeature.uso}}</b>
          </div>
        </div>
      </div>

      <div class="card card-charts">
        <div class="card-header">
            Estatísticas
            <button type="button" class="collapse-btn btn btn-dark btn-sm float-right" (click)="collapseCharts = !collapseCharts"
                  [attr.aria-expanded]="!collapseCharts" aria-controls="camadageografica">-</button>
            <button [hidden]="selectRegion.type == 'city'" [ngClass]="{'chart-change-btn-active': (chartType == 'municipios') }" (click)="changeChart('municipios')" type="button" class="chart-change-btn btn btn-sm float-right" aria-controls="camadageografica">Municípios</button>
            <button [hidden]="selectRegion.type == 'state' || selectRegion.type == 'city'" [ngClass]="{'chart-change-btn-active': (chartType == 'estados') }" (click)="changeChart('estados')" type="button" class="chart-change-btn btn btn-sm float-right" aria-controls="camadageografica">Estados</button>
            <button [ngClass]="{'chart-change-btn-active': (chartType == 'bioma') }" (click)="changeChart('bioma')" type="button" class="chart-change-btn btn btn-sm float-right" aria-controls="camadageografica">{{selectRegion.text}}</button>
        </div>
        <div class="card-block" [ngbCollapse]="collapseCharts" [hidden]="chartType != 'bioma'">
          <h6 style="margin-left: 15px; margin-top: 5px;">
            <b>Incremento Anual de Desmatamento - {{selectRegion.text}}</b>
          </h6>
          <ngx-charts-line-chart [view]="[500,300]" [results]="chartResult" [yAxis]="true" [xAxis]="true">
            <ng-template #seriesTooltipTemplate let-model="model">{{model[0].name}}: {{ model[0].value | number:'1.0-0' }} km<sup>2</sup>
            </ng-template>
            <ng-template #tooltipTemplate let-model="model">{{model.name}}: {{ model.value | number:'1.0-0' }} km<sup>2</sup>
            </ng-template>
          </ngx-charts-line-chart><br>
        </div>
        <div class="card-block" [ngbCollapse]="collapseCharts" [hidden]="chartType != 'estados'">
          <h6 style="margin-left: 15px; margin-top: 5px;">
            <b>Desmatamento por unidade federativa - {{selectedPeriod.label}}</b>
          </h6>
          <ngx-charts-bar-horizontal [view]="[450,300]" [barPadding]="2" [showGridLines]="true" [roundDomains]="false" [roundEdges]="false" [results]="chartResult" [yAxis]="true" [xAxis]="true" [showYAxisLabel]="true">
            <ng-template #tooltipTemplate let-model="model">{{model.name}}: {{ model.value | number:'1.0-0' }} km<sup>2</sup>
            </ng-template>
          </ngx-charts-bar-horizontal>
        </div>
        <div style="padding-left: 15px; padding-right: 15px;" class="card-block" [ngbCollapse]="collapseCharts" [hidden]="chartType != 'municipios'">
          <h6 style="margin-top: 5px;">
            <b>Top-10 - Área Desmatada {{selectedPeriod.label}}</b>
          </h6>
          <table class="table table-sm" style="font-size: 11px; ">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Município</th>
                <th scope="col">Estado</th>
                <th class="text-right" scope="col">Área desmatada</th>
              </tr>
            </thead>
            <tbody *ngFor="let city of charts.cities">
              <tr>
                <th scope="row">{{city.index}}</th>
                <td>{{city.name}}</td>
                <td>{{city.uf}}</td>
                <td class="float-right">{{city.value | number:'1.0-0' }} km<sup>2</sup></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div [hidden]="infodata.area_desmatada == -1" id="map-info" class="card" style="background-color: #ffffff99;">
        <div class="card-body" style="padding:5px;">
          <p class="card-text" style="font-size: 13px;">
            <b>{{infodata.area_desmatada | number:'1.0-0' }} km2</b>
            <br>{{infodata.nome}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>