<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
  <img style="height: 40px; margin-right: 10px;" src="/assets/logo.png" />
  <a class="navbar-brand" href="#">Deforestation Polygon Assessment Tool</a>
</nav>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 dpat-ol-div">
      <div id="map" class="dpat-ol-map"></div>
      <div class="card card-layers">
        <div class="card-header">
            Camadas Geográficas
            <button type="button" class="collapse-btn btn btn-dark btn-sm float-right" (click)="collapseLayer = !collapseLayer"
                  [attr.aria-expanded]="!collapseLayer" aria-controls="camadageografica">-</button>
        </div>
        <div id="camadageografica" class="card-block dpat-layer-group" [ngbCollapse]="collapseLayer">
          <div class="dpat-period-group input-group input-group-sm">
            <div class="input-group-prepend">
              <label class="input-group-text" for="inputGroupSelect01">Período de análise</label>
            </div>
            <select name="startYear" class="custom-select custom-select-sm" [(ngModel)]="selectedPeriod" (ngModelChange)="updatePeriod()">
                <option *ngFor="let period of periods" [ngValue]="period">  
                {{period.label}}
                </option>
            </select>
          </div>
          <hr>
          <div class="input-group input-group-sm dpat-layer mat-app-background" placement="top">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <img style="height: 40px; margin-right: 10px;" src="/assets/img/desmatamento_leg.png" />
                  <input [(ngModel)]="desmatamento.visible" (ngModelChange)="desmatamento.layer.setVisible($event)" type="checkbox">
                </div>
              </div>
              <input type="text" readonly class="form-control dpat-layer-label" value="{{ desmatamento.label }} {{ selectedPeriod.endYear }}">
          </div>
          <div class="input-group input-group-sm dpat-layer mat-app-background" placement="top">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <img style="height: 40px; margin-right: 10px;" src="/assets/img/antropico_leg.png" />
                  <input [(ngModel)]="antropico.visible" (ngModelChange)="antropico.layer.setVisible($event)" type="checkbox">
                </div>
              </div>
              <input type="text" readonly class="form-control dpat-layer-label" value="{{ antropico.label }} {{ selectedPeriod.startYear }}">
          </div>
          <div class="input-group input-group-sm dpat-layer mat-app-background" placement="top">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <img style="height: 40px; margin-right: 10px;" src="/assets/img/sucetibilidade_leg.png" />
                  <input [(ngModel)]="sucetibilidade.visible" (ngModelChange)="sucetibilidade.layer.setVisible($event)" type="checkbox">
                </div>
              </div>
              <input type="text" readonly class="form-control dpat-layer-label" value="{{ sucetibilidade.label }}">
          </div>
          <img style="height: 15px; margin-left: 100px;" src="/assets/img/sucetibilidade_leg_color.png" />
          <div class="input-group input-group-sm dpat-layer mat-app-background" placement="top" ngbTooltip="{{landsat.tooltip}}">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <img style="height: 40px; margin-right: 10px;" src="/assets/img/landsat_leg.png" />
                  <input [(ngModel)]="landsat.visible" (ngModelChange)="mosaicVisible(landsat, $event)" type="checkbox">
                </div>
              </div>
              <input type="text" readonly class="form-control dpat-layer-label" value="{{ landsat.label }}">
          </div>
          <div class="custom-slider">
            <span class="float-left year-slider-label">{{selectedPeriod.startYear}}</span>
            <ng5-slider [(value)]="landsat.opacity" [options]="sliderOptions" (userChange)="mosaicOpacity(landsat, $event)"></ng5-slider>
            <span class="float-right year-slider-label">{{selectedPeriod.endYear}}</span>
          </div>
          
          <div [hidden]="selectedPeriod.endYear != 2017" class="input-group input-group-sm dpat-layer mat-app-background" placement="top" ngbTooltip="{{sentinel.tooltip}}">
              <div class="input-group-prepend">
                <div class="input-group-text">
                  <img style="height: 40px; margin-right: 10px;" src="/assets/img/sentinel_leg.png" />
                  <input [(ngModel)]="sentinel.visible" (ngModelChange)="mosaicVisible(sentinel, $event)" type="checkbox">
                </div>
              </div>
              <input type="text" readonly class="form-control dpat-layer-label" value="{{ sentinel.label }}">
          </div>
          <div [hidden]="selectedPeriod.endYear != 2017" class="custom-slider">
            <span class="float-left year-slider-label">{{selectedPeriod.startYear}}</span>
            <ng5-slider [(value)]="sentinel.opacity" [options]="sliderOptions" (userChange)="mosaicOpacity(sentinel, $event)"></ng5-slider>
            <span class="float-right year-slider-label">{{selectedPeriod.endYear}}</span>
          </div>
        
        </div>


      </div>
      <div class="card card-charts">
        <div class="card-header">
            Estatísticas
            <button type="button" class="collapse-btn btn btn-dark btn-sm float-right" (click)="collapseCharts = !collapseCharts"
                  [attr.aria-expanded]="!collapseCharts" aria-controls="camadageografica">-</button>
            <button [ngClass]="{'chart-change-btn-active': (chartType == 'municipios') }" (click)="changeChart('municipios')" type="button" class="chart-change-btn btn btn-sm float-right" aria-controls="camadageografica">Municípios</button>
            <button [ngClass]="{'chart-change-btn-active': (chartType == 'estados') }" (click)="changeChart('estados')" type="button" class="chart-change-btn btn btn-sm float-right" aria-controls="camadageografica">Estados</button>
            <button [ngClass]="{'chart-change-btn-active': (chartType == 'bioma') }" (click)="changeChart('bioma')" type="button" class="chart-change-btn btn btn-sm float-right" aria-controls="camadageografica">Cerrado</button>
        </div>
        <div class="card-block" [ngbCollapse]="collapseCharts" [hidden]="chartType != 'bioma'">
          <h6 style="margin-left: 15px; margin-top: 5px;">
            <b>Incremento Anual de Desmatamento</b>
          </h6>
          <ngx-charts-line-chart [view]="[500,300]" [results]="chartResult" [yAxis]="true" [xAxis]="true">
          </ngx-charts-line-chart><br>
        </div>
        <div class="card-block" [ngbCollapse]="collapseCharts" [hidden]="chartType != 'estados'">
          <h6 style="margin-left: 15px; margin-top: 5px;">
            <b>Desmatamento por unidade federativa - {{selectedPeriod.label}}</b>
          </h6>
          <ngx-charts-bar-horizontal [view]="[350,300]" [barPadding]="2" [showGridLines]="true" [roundDomains]="false" [roundEdges]="false" [results]="chartResult" [yAxis]="true" [xAxis]="true" [showYAxisLabel]="true">
            <ng-template #tooltipTemplate let-model="model">periods
                {{model.name}}: {{ model.value | number:'1.0-0' }} km<sup>2</sup>
            </ng-template>
          </ngx-charts-bar-horizontal>
        </div>
        <div style="padding-left: 15px; padding-right: 15px;" class="card-block" [ngbCollapse]="collapseCharts" [hidden]="chartType != 'municipios'">
          <h6 style="margin-top: 5px;">
            <b>Top-10 - Área Desmatada {{selectedPeriod.label}}</b>
          </h6>
          <table class="table table-sm" style="font-size: 11px; ">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">Município</th>
                <th scope="col">Estado</th>
                <th class="text-right" scope="col">Área desmatada</th>
              </tr>
            </thead>
            <tbody *ngFor="let city of charts.cities">
              <tr>
                <th scope="row">{{city.index}}</th>
                <td>{{city.name}}</td>
                <td>{{city.uf}}</td>
                <td class="float-right">{{city.value | number:'1.0-0' }} km<sup>2</sup></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div [hidden]="infodata.area_desmatada == -1" id="map-info" class="card" style="background-color: #ffffff99;">
        <div class="card-body" style="padding:5px;">
          <p class="card-text" style="font-size: 13px;">
            <b>{{infodata.area_desmatada | number:'1.0-0' }} km2</b>
            <br>{{infodata.nome}}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>