::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bar {
    background: #367d3b;
    height: 2px;
  }
  .custom-slider .ng5-slider .ng5-slider-selection {
    background: #367d3b;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    width: 8px;
    height: 16px;
    top: auto; /* to remove the default positioning */
    bottom: 0;
    background-color: #333;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

 	.custom-slider .ng5-slider {
		margin: 10px 0 23px;
		width: 250px;
		left: 10px;
 	}

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 14px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {
    font-weight: bold;
    color: #367d3b;
  }

  .custom-slider .ng5-slider .ng5-slider-tick {
    width: 1px;
    height: 10px;
    margin-left: 4px;
    border-radius: 0;
    background: #367d3b;
    top: -1px;
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {
    background: #367d3b;
  }

  .custom-slider .ng5-slider .ng5-slider-tick-legend {
    top: 15px;
    font-size: 12px;
    font-weight: bold;
  }
}

.btn .btn-deforestation {
  color: #fc16ef;
}