.bg-dark {
    background-color:#5a432082!important;
    border-radius: 10px!important;
}
.carousel-item img {
    border-radius: 10px !important;
}
.carousel-inner {
    border-radius: 10px !important;
}

img {
    border-radius: 10px !important;
}

p{
    font-size: 16px;
    text-indent: 4em;
}

.img-logo{
    max-width: 100%!important;
    height: 50px !important;
    width: 120px !important;
}

ol, ul {
    margin-left: 6em;
    text-indent: -3em;
}

ol, ul .lead{
    font-size: 16.5px;
}

li{
    margin-top: 6px
}

.center-block {
    display: block !important;
    margin-left: auto !important;
    margin-right: auto !important;
}

table, tr, th {
    text-align: center;
}
caption{
    text-align: center;
    color: black!important;
}

table, tr .lead{
    font-size: 16.5px;
}

figcaption{
    color: black!important;
}

body{
    background: linear-gradient(0deg, rgba(99,195,34,0.35057773109243695) 0%, rgba(253,187,45,0.16010154061624648) 100%) ;
}
