#body-mobile-hotsite {

    /*Style for hotsite*/
  
    #info, #stats {
      display:none;
    }
  
    .info{
      cursor: pointer;
    }
  
    .actions-hotsite{
      display: flex;
    }
  
    .space{
      flex: 1 1 auto;
    }
  
    .btn-dpat{
      border-radius: 5px;
      color: white;
      width: 139px;
      padding-top: 10px;
      border: 0;
      padding-bottom: 10px;
      background-color: #257a33;
      transition: 0.3s;
      z-index: 10000;
  
    }
  
    .btn-dpat:hover {
      background-color: white;
      cursor : pointer !important;
      color: #257a33;
    }
  
    .text-hotsite{
      font-size: 12px;
      font-weight: 300;
      color: black;
      padding: 29px;
      text-align: justify;
      line-height: 25px;
      text-indent:2em;
      overflow: hidden;
    }
  
    .text-sections{
      text-indent:4em;
      text-align: justify
    }

    .text-sections{
      font-size: 12px;
    }
  
    .text-sections a {
      font-weight: 600;
      font-size: 12px;
    }
  
    .languages{
      display: flex;
      position: absolute;
      top: 20px;
      right: 20px;
      color: white;
      z-index: 1000;
    }
  
    .languages a:hover{
      background-color:white;
      color: black;
      cursor: pointer;
      z-index: 100000;
    }
  
    .active-lang{
      background-color:white;
      color: black;
    }
  
    .lang-pt{
      padding: 12px;
      opacity: 0.8;
      margin-right: 10px;
      border: 1px solid white;
      border-radius: 70px;
    }
  
    .lang-en{
      opacity: 0.8;
      padding: 12px;
      border: 1px solid white;
      border-radius: 70px;
    }
  
    #logo {
      font-family: 'Roboto', sans-serif;
      right: 14px;
      top: calc(100% - 62vh);
      position: absolute;
      position: fixed;
      z-index: 1;
      pointer-events: none;
      -webkit-transition: opacity 2s ease 1s;
      transition: opacity 2s ease 1s;
      opacity: 1;
      border-radius: 10px;
      // padding: 1rem;
      border-radius: 10px;
      background-color: #ffffffc4;
      font-size: 18px;
      width: calc(100% - 8vw);
      font-weight: normal;
      text-align: center;
      color: black;
      height: auto;
      svg{
        width: 50%;
      }
    }
  
    #logo.pushed {
      opacity:0;
      transition: opacity 1s ease;
    }
  
    a {
      color: #ffffff;
    }
  
    #i1, #i2 { margin-top: 0.5em }
  
    #loading {
      font-weight: bold;
      background: #a0a;
      color: #fff;
      padding: 0.25em 1em;
      position: absolute;
      top: 0px;
      right: 0px;
      z-index: 200;
      display:none;
    }
  
    #wrapper {
      overflow: hidden;
      width:100vw;
      height: 100vh;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .btn-active-back{
      display: block;
    }
  
    .btn-none{
      display: none;
    }
    .info-2{
      transition: 0.3s;
    }
  
    #container {
      overflow: hidden;
      width:100vw;
      height: 100vh;
    }
  
    section {
      background: #fff;
      position: relative;
      padding:130px 0;
      display: flex;
      align-items: center;
      justify-content: center;
  
    }
  
    .container {
      display: flex;
      flex-direction: row;
    }
  
    .container.small {
      max-width: 900px;
    }
  
    .col-2 * {
      padding:0 20px;
      flex: 1;
    }
  
    .sphere-overlay {
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      background: rgba(0,0,0,.4);
      z-index: 1;
      /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#954aa2+0,e59a69+100 */
      background: #954aa2; /* Old browsers */
      background: -moz-linear-gradient(45deg, #954aa2 0%, #e59a69 100%); /* FF3.6-15 */
      background: -webkit-linear-gradient(45deg, #954aa2 0%,#e59a69 100%); /* Chrome10-25,Safari5.1-6 */
      background: linear-gradient(45deg, #954aa2 0%,#e59a69 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#954aa2', endColorstr='#e59a69',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
      opacity: .8
    }
  
  
    .content-overlay {
      position:absolute;
      -webkit-font-smoothing: antialiased;
      width:100%;
      height:100%;
      top:0;
      left:0;
      background:rgba(0,0,0,.6);
      color:#fff;
      font-weight: 300;
      line-height: 2;
      font-size:1em;
      width:100%;
      height:100%;
      top:0px;
      left:0px;
      overflow:hidden;
      z-index: 2;
      pointer-events: none;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      padding: 15px;
    }

    .content-container {
      width:80%;
      max-width:450px;
      margin:0 auto;
    }
  
    .bg-overlay {
      position:absolute;
      width:100%;
      height:100%;
      top:0;
      left:0;
      -webkit-transition: all 1s 0s cubic-bezier(0.645, 0.045, 0, 1.000);
      transition: all 1s 0s cubic-bezier(0.645, 0.045, 0, 1.000);
      opacity:0;
      pointer-events: none;
      z-index: 1;
      /*background: url(../img/blur.jpg) no-repeat center center fixed; */
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
    }
  
    .content-overlay {
      -webkit-transform: scale(.8);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: scale(.8);  /* IE 9 */
      transform: scale(.8);  /* Firefox 16+, IE 10+, Opera */
  
      -webkit-transition: all 1s 0s cubic-bezier(0.645, 0.045, 0, 1.000);
      transition: all 1s 0s cubic-bezier(0.645, 0.045, 0, 1.000);
      opacity:0;
    }

    .content-overlay a.join {bottom:auto; top:14%; right: 3%;}
  
    .content-container h1,.content-container p {
      -webkit-transform: translateY(50px);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateY(50px);  /* IE 9 */
      transform: translateY(50px);  /* Firefox 16+, IE 10+, Opera */
  
      -webkit-transition: all 1.2s .8s cubic-bezier(0, 0.1, 0, 1.000);
      transition: all 1.2s .8s cubic-bezier(0, 0.1, 0, 1.000);
      opacity:0;
    }
  
    .content-container p {
      -webkit-transition: all 1.3s .9s cubic-bezier(0, 0.1, 0, 1.000);
      transition: all 1.3s .9s cubic-bezier(0, 0.1, 0, 1.000);
    }
  
    .content-container p:nth-child(3) {
      -webkit-transition: all 1.4s 1s cubic-bezier(0, 0.1, 0, 1.000);
      transition: all 1.4s 1s cubic-bezier(0, 0.1, 0, 1.000);
    }
  
  
  
    .content-overlay.opened {
      -webkit-transform: scale(1);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: scale(1);  /* IE 9 */
      transform: scale(1);  /* Firefox 16+, IE 10+, Opera */
  
      opacity:1;
      pointer-events: inherit;
  
    }
  
    .content-overlay.opened .content-container p,.content-overlay.opened .content-container h1 {
      -webkit-transform: translateY(0px);  /* Chrome, Opera 15+, Safari 3.1+ */
      -ms-transform: translateY(0px);  /* IE 9 */
      transform: translateY(0px);  /* Firefox 16+, IE 10+, Opera */
      opacity:1;
    }
  
    .bg-overlay.opened {
      opacity:1;
    }
  
  
  
    /* ========== MENU EFFECT ========== */
  
    .o-grid__item {
      position:absolute;left:40px; z-index: 3;
      top:0%;left: 10px; margin-top:0px;
    }
  
    .c-hamburger {
      display: block;
      position: relative;
      overflow: hidden;
      margin: 0;
      padding: 0;
      width: 76px;
      height: 96px;
      font-size: 0;
      text-indent: -9999px;
      -webkit-appearance: none;
      -moz-appearance: none;
      appearance: none;
      box-shadow: none;
      border-radius: none;
      border: none;
      cursor: pointer;
      -webkit-transition: background 0.3s;
      transition: background 0.3s;
    }
  
    .c-hamburger:focus {
      outline: none;
    }
  
    .c-hamburger span {
      display: block;
      position: absolute;
      top: 44px;
      left: 18px;
      right: 18px;
      height: 2px;
      background: white;
    }
  
    .c-hamburger span::before,
    .c-hamburger span::after {
      position: absolute;
      display: block;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #fff;
      content: "";
    }
  
    .c-hamburger span::after {
      width:50%;
    }
  
    .c-hamburger span::before {
      top: -12px;
    }
  
    .c-hamburger span::after {
      bottom: -12px;
    }
  
    .c-hamburger--htla {
      background:none;
    }
  
    .c-hamburger--htla span {
      -webkit-transition: -webkit-transform 0.3s;
      transition: transform 0.3s;
    }
  
    .c-hamburger--htla span::before {
      -webkit-transform-origin: top right;
      -ms-transform-origin: top right;
      transform-origin: top right;
      -webkit-transition: -webkit-transform 0.3s, width 0.3s, top 0.3s;
      transition: transform 0.3s, width 0.3s, top 0.3s;
    }
  
    .c-hamburger--htla span::after {
      -webkit-transform-origin: bottom right;
      -ms-transform-origin: bottom right;
      transform-origin: bottom right;
      -webkit-transition: -webkit-transform 0.3s, width 0.3s, bottom 0.3s;
      transition: transform 0.3s, width 0.3s, bottom 0.3s;
    }
  
    /* active state, i.e. menu open */
    .c-hamburger--htla.is-active {
  
    }
  
    .c-hamburger--htla.is-active span {
      -webkit-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      transform: rotate(180deg);
    }
  
    .c-hamburger--htla.is-active span::before,
    .c-hamburger--htla.is-active span::after {
      width: 50%;
    }
  
    .c-hamburger--htla.is-active span::before {
      top: 0;
      -webkit-transform: translateX(23px) translateY(1px) rotate(45deg);
      -ms-transform: translateX(23px) translateY(1px) rotate(45deg);
      transform: translateX(23px) translateY(1px) rotate(45deg);
    }
  
    .c-hamburger--htla.is-active span::after {
      bottom: 0;
      -webkit-transform: translateX(23px) translateY(-1px) rotate(-45deg);
      -ms-transform: translateX(23px) translateY(-1px) rotate(-45deg);
      transform: translateX(23px) translateY(-1px) rotate(-45deg);
    }
  
    /* ========== ANIMATIONS ========== */
  
    .text-container {
      width:100%;
      max-width:629px;
      margin: 0 auto;
  
    }
  
    .splited-line {
      display: block;
      overflow: hidden;
      -webkit-transform: translate3d(0, 16px, 0);
      transform: translate3d(0, 16px, 0);
      -webkit-transition: opacity 1.5s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 1.5s cubic-bezier(0.19, 1, 0.22, 1);
      transition: opacity 1.5s cubic-bezier(0.19, 1, 0.22, 1), transform 1.5s cubic-bezier(0.19, 1, 0.22, 1)
    }
    .splited-line__wrapper {
      color: white !important;
      display: block;
      -webkit-transform: translate3d(0, 64px, 0);
      transform: translate3d(0, 64px, 0);
      -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1)
    }
    .splited-line:nth-child(1) .splited-line__wrapper {
      -webkit-transition-delay: .8s;
      transition-delay: .8s
    }
    .splited-line:nth-child(2) .splited-line__wrapper {
      -webkit-transition-delay: 0.9s;
      transition-delay: 0.9s
    }
    .splited-line:nth-child(3) .splited-line__wrapper {
      -webkit-transition-delay: 1s;
      transition-delay: 1s
    }
    .splited-line:nth-child(4) .splited-line__wrapper {
      -webkit-transition-delay: 1.1s;
      transition-delay: 1.1s
    }
    .section.active .splited-line,
    .show .splited-line {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }
    .section.active .splited-line .splited-line__wrapper,
    .show .splited-line .splited-line__wrapper {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0)
    }
    .section:not(.active) .splited-line {
      opacity: 0
    }
    .section:not(.active) .splited-line .splited-line__wrapper {
      -webkit-transform: translate3d(0, 64px, 0);
      transform: translate3d(0, 64px, 0);
      -webkit-transition-delay: 0.1s;
      transition-delay: 0.1s
    }
    .no-transition .splited-line {
      -webkit-transition: none;
      transition: none
    }
    .no-transition .splited-line__wrapper {
      -webkit-transition: none;
      transition: none
    }
  
  
    .section p, .section .btn {
      -webkit-transition: opacity 1.5s 0s cubic-bezier(0.19, 1, 0.22, 1),
      -webkit-transform 1.5s 0s cubic-bezier(0.19, 1, 0.22, 1);
      transition: opacity 1.5s 0s cubic-bezier(0.19, 1, 0.22, 1),
      transform 1.5s 0s cubic-bezier(0.19, 1, 0.22, 1);
    }
  
    .section:not(.active) p, .section:not(.active) .btn {
      opacity: 0;
      -webkit-transform: translate3d(0, 40px, 0);
      transform: translate3d(0, 40px, 0);
  
    }
  
    .section.active p {
      -webkit-transition-delay: 1s;
      transition-delay: 1s
    }
  
    .section.active .btn {
      -webkit-transition-delay: 0.8s;
      transition-delay: 0.8s
    }
  
    .section.active p, .section.active .btn {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    .section .line::before {
      position: absolute;
      top: -30px;
      left: -100px;
      height: 1px;
      opacity:0;
      width: 180px;
      display: block;
      content: '';
      background-color: #fff;
      -webkit-transform-origin: left center;
      -ms-transform-origin: left center;
      transform-origin: left center;
      -webkit-transform: translate3d(10px, 0, 0) scale(0, 1);
      transform: translate3d(10px, 0, 0) scale(0, 1);
      -webkit-transition: -webkit-transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
      -webkit-transition-delay: 1.8s;
      transition-delay: 1.8s
  
    }
  
    .section:not(.active) .line::before {
      -webkit-transition-delay: 0s;
      transition-delay: 0s
    }
  
    .section.active .line::before {
      -webkit-transform: translate3d(0, 0, 0) scale(1, 1) ;
      transform: translate3d(0, 0, 0) scale(1, 1)
    }
  
  
    .section-tagline.dark h2,.section-tagline.dark p {
      color:#000;
    }
  
    .section-tagline.dark h1 span {
      color:rgba(0,0,0,.3);
    }
    .section-tagline.dark h1::before {
      background-color: rgba(0,0,0,.1);
    }
  
    .section h1 {
      font-weight: 400;
      font-size: 0.9rem;
      line-height: 2rem;
      margin-bottom: 1.1857rem;
      padding-top: 0.8143rem;
      position: relative;
      color: #fff;
      text-transform: uppercase;
      letter-spacing: 0.3em;
    }
  
    .section h2 {
      font-size:3.5rem;
      line-height: 1;
    }
  
    .section h1 span {
      font-weight: 400;
      display: inline-block;
      opacity: 0;
      color: rgba(255,255,255,.5);
      -webkit-transform: translate3d(10px, 0, 0);
      transform: translate3d(10px, 0, 0);
      -webkit-transition: opacity 2s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 4s cubic-bezier(0.19, 1, 0.22, 1);
      transition: opacity 2s cubic-bezier(0.19, 1, 0.22, 1), transform 4s cubic-bezier(0.19, 1, 0.22, 1);
    }
  
    .section.active h1 span strong {
      color:#fff;
      font-weight: 600;
    }
  
  
    .section h1::before {
      position: absolute;
      top: 24px;
      left: -204px;
      height: 2.5px;
      width: 180px;
      display: block;
      content: '';
      background-color: rgba(255,255,255,.1);
      -webkit-transform-origin: right center;
      -ms-transform-origin: right center;
      transform-origin: right center;
      -webkit-transform: translate3d(10px, 0, 0) scale(0, 1);
      transform: translate3d(10px, 0, 0) scale(0, 1);
      -webkit-transition: -webkit-transform 3s cubic-bezier(0.19, 1, 0.22, 1);
      transition: transform 3s cubic-bezier(0.19, 1, 0.22, 1);
  
    }
  
    .section.active h1 span {
      opacity: 1;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition-delay: 0.9s;
      transition-delay: 0.9s;
    }
  
  
    .section.active h1::before {
      -webkit-transform: translate3d(0, 0, 0) scale(1, 1);
      transform: translate3d(0, 0, 0) scale(1, 1);
      -webkit-transition-delay: 0.9s;
      transition-delay: 0.9s;
    }
  
  
    a.join {
      position: fixed;
      bottom:40px;
      right:60px;
      z-index: 99;
      text-transform: uppercase;
      letter-spacing: 1px;
      text-decoration: none;
      font-size: 12px;
      opacity: 0;
      -webkit-transform: translate3d(0, 40px, 0);
      transform: translate3d(0, 40px, 0);
      -webkit-transition: all 3s cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
      transition: all 3s cubic-bezier(0.19, 1, 0.22, 1) 1.5s;
    }
  
    .credit {
      position: fixed;
      bottom:20px;
      left:60px;
      z-index: 99;
      text-transform: uppercase;
      letter-spacing: 1px;
  
      font-size: 10px;
      opacity: 0;
      -webkit-transform: translate3d(0, 40px, 0);
      transform: translate3d(0, 40px, 0);
      -webkit-transition: all 3s cubic-bezier(0.19, 1, 0.22, 1) 2s;
      transition: all 3s cubic-bezier(0.19, 1, 0.22, 1) 2s;
      color:rgba(255,255,255,.6);
    }
  
    .credit a {
      color: #fff;
      text-decoration: none;
    }
  
    .content-overlay.opened a.join {
      opacity: 1;
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
    }
  
    .content-overlay.opened .credit {
      opacity: 1;
      -webkit-transform: translate3d(0, 0px, 0);
      transform: translate3d(0, 0px, 0);
    }
  
    /* ========== FULLPAGE ========== */
  
  
    html.dpat-enabled,
    .dpat-enabled body {
      margin: 0;
      padding: 0;
      overflow:hidden;
  
      /*Avoid flicker on slides transitions for mobile phones #336 */
      -webkit-tap-highlight-color: rgba(0,0,0,0);
    }
    .dpat-section {
      position: relative;
      -webkit-box-sizing: border-box; /* Safari<=5 Android<=3 */
      -moz-box-sizing: border-box; /* <=28 */
      box-sizing: border-box;
    }
    .dpat-slide {
      float: left;
    }
    .dpat-slide, .dpat-slidesContainer {
      height: 100%;
      display: block;
    }
    .dpat-slides {
      z-index:1;
      height: 100%;
      overflow: hidden;
      position: relative;
      -webkit-transition: all 0.3s ease-out; /* Safari<=6 Android<=4.3 */
      transition: all 0.3s ease-out;
    }
    .dpat-section.dpat-table, .dpat-slide.dpat-table {
      display: table;
      table-layout:fixed;
      width: 100%;
    }
    .dpat-tableCell {
      display: table-cell;
      vertical-align: middle;
      width: 100%;
      height: 100%;
    }
    .dpat-slidesContainer {
      float: left;
      position: relative;
    }
    .dpat-controlArrow {
      -webkit-user-select: none; /* webkit (safari, chrome) browsers */
      -moz-user-select: none; /* mozilla browsers */
      -khtml-user-select: none; /* webkit (konqueror) browsers */
      -ms-user-select: none; /* IE10+ */
      position: absolute;
      z-index: 4;
      top: 50%;
      cursor: pointer;
      width: 0;
      height: 0;
      border-style: solid;
      margin-top: -38px;
      -webkit-transform: translate3d(0,0,0);
      -ms-transform: translate3d(0,0,0);
      transform: translate3d(0,0,0);
    }
    .dpat-controlArrow.dpat-prev {
      left: 15px;
      width: 0;
      border-width: 38.5px 34px 38.5px 0;
      border-color: transparent #fff transparent transparent;
    }
    .dpat-controlArrow.dpat-next {
      right: 15px;
      border-width: 38.5px 0 38.5px 34px;
      border-color: transparent transparent transparent #fff;
    }
    .dpat-scrollable {
      overflow: hidden;
      position: relative;
    }
    .dpat-scroller{
      overflow: hidden;
    }
    .iScrollIndicator{
      border: 0 !important;
    }
    .dpat-notransition {
      -webkit-transition: none !important;
      transition: none !important;
    }
    #dpat-nav {
      position: fixed;
      z-index: 100;
      margin-top: -32px;
      top: 50%;
      opacity: 0;
      -webkit-transform: translate3d(0,0,0);
      -webkit-transition: opacity 0.5s ease-in-out .3s;
      -moz-transition: opacity 0.5s ease-in-out .3s;
      -o-transition: opacity 0.5s ease-in-out .3s;
      transition: opacity 0.5s ease-in-out .3s;
    }

    #dpat-nav, .section h1  {display: none;}
    .section h2 {font-size: 1.5rem}
    
  
  
    #dpat-nav.active {
      opacity: 1;
    }
    #dpat-nav ul {
      margin:0;
      padding:0
    }
  
    #dpat-nav ul li {
      display:block;
      width:14px;
      height:13px;
      margin:24px 7px;
      position:relative
    }
  
    #dpat-nav ul li a {
      display:block;
      position:relative;
      z-index:1;
      cursor:pointer;
      text-decoration:none;
      font-size:0;
      line-height:0;
      padding:5px 0;
      width:auto;
      height:20px;
      width:30px
    }
  
    #dpat-nav ul li a svg {
      position:absolute;
      top: -13px;
      left: -1px;
      -webkit-transform:rotate(-90deg);
      -ms-transform:rotate(-90deg);
      -o-transform:rotate(-90deg);
      transform:rotate(-90deg)
    }
  
    #dpat-nav ul li a svg polygon,
    .dpat-slidesNav ul li a svg polygon {
      fill: transparent;
      stroke: #fff;
      stroke-width: 2.5;
      stroke-dasharray: 500;
      stroke-dashoffset: 500;
      -webkit-transition: stroke-dasharray 0s ease .3s, opacity .3s ease;
      -o-transition: stroke-dasharray 0s ease .3s, opacity .3s ease;
      transition: stroke-dasharray 0s ease .3s, opacity .3s ease;
      opacity: 0
    }
    #dpat-nav ul li a.active svg polygon,
    #dpat-nav ul li a:hover svg polygon,
    .dpat-slidesNav ul li a.active svg polygon,
    .dpat-slidesNav ul li a:hover svg polygon {
      -webkit-transition: stroke-dasharray .6s ease, opacity 0s ease;
      -o-transition: stroke-dasharray .6s ease, opacity 0s ease;
      transition: stroke-dasharray .6s ease, opacity 0s ease;
      stroke-dasharray: 585;
      opacity: 1
    }
  
    #dpat-nav ul li a span {
      border-radius:50%;
      position:absolute;
      z-index:1;
      border:0;
      background:rgba(255,255,255,.15);
      left:50%;
      top:50%;
      width:6px;
      height:6px;
      margin:-3px 0 0 -3px;
      -webkit-transition:all .1s ease-in-out;
      -o-transition:all .1s ease-in-out;
      transition:all .1s ease-in-out
    }
  
    #dpat-nav {
      position:fixed;
      z-index:9999999;
      margin-top:-36px;
      top:50%;
  
    }
  
    #dpat-nav.right {
      right:37px
    }
  
    #dpat-nav ul li {
      width:auto;
      height:auto;
      margin:0;
      padding:0
    }
  
    #dpat-nav ul li .dpat-tooltip {
      position:absolute;
      top:-2px;
      color:#fff;
      font-size:14px;
      white-space:nowrap;
      max-width:220px;
      overflow:hidden;
      display:block;
      width:auto;
      -webkit-transition:all .25s ease!important;
      -o-transition:all .25s ease!important;
      transition:all .25s ease!important;
      visibility:hidden;
      opacity:0
    }
  
    #dpat-nav ul li .dpat-tooltip.right {
      padding-right:20px;
      top:8px;
      right:20px
    }
  
    #dpat-nav:hover ul li .dpat-tooltip {
      opacity:.5;
      visibility:visible
    }
  
    #dpat-nav:hover ul li:hover .dpat-tooltip {
      opacity:1
    }
  
    #dpat-nav:hover span {
      background:rgba(255,255,255,.35);
    }
  
    #dpat-nav ul li a.active span,#dpat-nav ul li a:hover span,#dpat-nav ul li:hover a.active span {
      background:#fff;
      -webkit-transition:all .25s ease-in-out;
      -o-transition:all .25s ease-in-out;
      transition:all .25s ease-in-out
    }
  
    /*Buttons*/
  
    a {
      color: inherit;
    }
  
    h1, h2, h3, h4 {
      margin: 0;
      margin-bottom: 10px;
      margin-top: 10px;
      // font-size: 35px !important;
    }
  
    h1 {
      font-size: 3em;
    }
  
    .menu {
      -webkit-filter: url("#shadowed-goo");
      filter: url("#shadowed-goo");
    }
  
    .menu-item, .menu-open-button {
      background: #060605;
      border-radius: 100%;
      width: 67px;
      height: 67px;
      margin-left: -40px;
      position: absolute;
      top: 50%;
      color: white;
      text-align: center;
      line-height: 80px;
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
      -webkit-transition: -webkit-transform ease-out 200ms;
      transition: -webkit-transform ease-out 200ms;
      transition: transform ease-out 200ms;
      transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
    }
  
    .menu-open {
      display: none;
    }
  
    .hamburger {
      width: 25px;
      height: 3px;
      background: white;
      display: block;
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -12.5px;
      margin-top: -1.5px;
      -webkit-transition: -webkit-transform 200ms;
      transition: -webkit-transform 200ms;
      transition: transform 200ms;
      transition: transform 200ms, -webkit-transform 200ms;
    }
  
    .hamburger-1 {
      -webkit-transform: translate3d(0, -8px, 0);
      transform: translate3d(0, -8px, 0);
    }
  
    .hamburger-2 {
      -webkit-transform: translate3d(0, 0, 0);
      transform: translate3d(0, 0, 0);
    }
  
    .hamburger-3 {
      -webkit-transform: translate3d(0, 8px, 0);
      transform: translate3d(0, 8px, 0);
    }
  
    .menu-open:checked + .menu-open-button .hamburger-1 {
      -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
      transform: translate3d(0, 0, 0) rotate(45deg);
    }
    .menu-open:checked + .menu-open-button .hamburger-2 {
      -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
      transform: translate3d(0, 0, 0) scale(0.1, 1);
    }
    .menu-open:checked + .menu-open-button .hamburger-3 {
      -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
      transform: translate3d(0, 0, 0) rotate(-45deg);
    }
  
    .menu {
      position: absolute;
      left: 5%;
      opacity: 0.7;
      top: 9vh;
      padding-left: 50px;
      width: 150px;
      height: 150px;
      box-sizing: border-box;
      font-size: 20px;
      text-align: left;
      transition: 0.3s;
    }
  
    .menu-item:hover {
      background: white;
      color: #ffc107;
    }
    .menu-item:nth-child(3) {
      -webkit-transition-duration: 180ms;
      transition-duration: 180ms;
    }
    .menu-item:nth-child(4) {
      -webkit-transition-duration: 180ms;
      transition-duration: 180ms;
    }
    .menu-item:nth-child(5) {
      -webkit-transition-duration: 180ms;
      transition-duration: 180ms;
    }
    .menu-item:nth-child(6) {
      -webkit-transition-duration: 180ms;
      transition-duration: 180ms;
    }
  
    .menu-open-button {
      z-index: 2;
      -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
      -webkit-transition-duration: 400ms;
      transition-duration: 400ms;
      -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
      transform: scale(1.1, 1.1) translate3d(0, 0, 0);
      cursor: pointer;
    }
  
    .menu-open-button:hover {
      -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
      transform: scale(1.2, 1.2) translate3d(0, 0, 0);
    }
  
    .menu-open:checked + .menu-open-button {
      -webkit-transition-timing-function: linear;
      transition-timing-function: linear;
      -webkit-transition-duration: 200ms;
      transition-duration: 200ms;
      -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
      transform: scale(0.8, 0.8) translate3d(0, 0, 0);
    }
  
    .menu-open:checked ~ .menu-item {
      -webkit-transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
      transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    }
    .menu-open:checked ~ .menu-item:nth-child(3) {
      -webkit-transition-duration: 170ms;
      transition-duration: 170ms;
      -webkit-transform: translate3d(70px, 0, 0);
      transform: translate3d(70px, 0, 0);
    }
    .menu-open:checked ~ .menu-item:nth-child(4) {
      -webkit-transition-duration: 250ms;
      transition-duration: 250ms;
      -webkit-transform: translate3d(140px, 0, 0);
      transform: translate3d(140px, 0, 0);
    }
    .menu-open:checked ~ .menu-item:nth-child(5) {
      -webkit-transition-duration: 330ms;
      transition-duration: 330ms;
      -webkit-transform: translate3d(210px, 0, 0);
      transform: translate3d(210px, 0, 0);
    }
    .menu-open:checked ~ .menu-item:nth-child(6) {
      -webkit-transition-duration: 410ms;
      transition-duration: 410ms;
      -webkit-transform: translate3d(320px, 0, 0);
      transform: translate3d(320px, 0, 0);
    }
  
    .btn-navigate{
      display: none;
      position: fixed;
      right: 2%;
      top: 46%;
       button{
         color: white;
       }
    }
  .team img{
    display: block;
    margin: 0 auto;
  }

  @media  screen and (max-height: 600px) {
    .dpat-section{
      font-size: 12px;
    }
  }

    // #fullpage {
    //   max-height: 75%;
    // }
}