#regionMobileReport{
  overflow: hidden;

  .container-fluid {
    padding-left: 0px !important;
    padding-right: 0px;
  }

  .container-buttons{
    display: grid;
    position: fixed;
    right: calc(100% - 92.5vw);
    top: 32px;
  }

  .p-grid{
    padding: 3px;
  }

  button{
    margin: 10px
  }

  .title-report{
    font-family: "Conthrax Sb"!important;
    text-align: center;
    text-transform: uppercase;
    color: #0b4e26 !important;
    // margin: 25px 0px 0px;
    // position: absolute;
    font-size: 1em !important;
    // top: 50%;
    // -ms-transform: translateY(-50%);
    // transform: translateY(-50%);
    @include fluid-type(16px, 28px);
  }

  .title-logo {
    text-align: center;
    // margin-bottom: 20px;
  }

  .spinner{
    margin: 0 auto;
  }

  .row{
    margin-left: 2px;
    margin-right: 2px;
  }

  .dados{
    width: 100%;
  }
  .tabs{
    // margin: 0.5px;
    max-width: calc(100% - 2vw);
  }

  .ui-scrollpanel-bar-x{
    visibility: hidden;
  }

  .ui-accordion .ui-accordion-header:not(.ui-state-disabled).ui-state-active a {
    background-color: #0b4e26;
    border: 1px solid #0b4e26;
    color: #ffffff;
  }

 .ui-table .ui-table-tbody > tr.ui-state-highlight {
    background-color:#0b4e26;
    color: #ffffff;
  }
  .ui-table .ui-table-tbody > tr > td {
   word-break: break-all;
  }
  .table-label{
    font-weight: bolder;
  }
  .table-value{
    font-weight: normal;
  }
  .tb-metadata{
    font-size: 12px;
    .table-label{
      width: 110px;
    }
  }

  .card-amostral{
    height: 100%;
  }

  .card-checkbox-upload.mat-card-content > :last-child:not(.mat-card-footer), .mat-card > :last-child:not(.mat-card-footer) {
    padding-top: 0px;
    padding-left: 0px;
  }

  .mat-card-subtitle, .mat-card-content {
    font-size: 12px;
  }

  .mat-card-header .mat-card-title {
    font-size: 16px;
  }

  .mat-card-header-text {
    margin: 0px;
  }

  .legend{
    display: grid;
  }

  .resume{
    font-weight: normal;
    text-align: center;
    line-height: 25px;
    @include fluid-type(14px, 16px);
  }
  .tb-imgs {
   tr {
      //border-top: 1px solid black;
      //border-bottom: 1px solid black;
    }
    .table-value{
      width: 100px;
    }
  }

  toh-spinner-img{
    display: flex;
    img{
      width: 100%;
    }
  }

 .mat-card > :last-child:not(.mat-card-footer) {
   padding-top: 5px;
   padding-left: 0;
 }

  .title-info{
    @include fluid-type(14px, 18px);
    text-align: center;
    padding: 5px;
  }

  .subtitles-report {
    font-size: 14px;
    margin-top: 1.5rem;
  }

  .ui-accordion .ui-accordion-content {
    padding: 0.5em !important;
  }
}