
/* ----- CHANGING DEFAULT COLORS ------- */
@import '~@angular/material/theming';
@include mat-core();

$primary: mat-palette($mat-green,800);
$accent: mat-palette($mat-orange,300);
$warn: mat-palette($mat-brown,600);
$theme: mat-light-theme($primary, $accent, $warn);

@include angular-material-theme($theme);

/* ----- 1: SETTINGS ------- */
@import '1-settings/s-variables';
@import '1-settings/s-typography';
@import '1-settings/s-globals';

/* ----- 2: ATOMS ------- */
@import '2-atoms/a-mixins';
@import '2-atoms/a-spacing';
@import '2-atoms/a-typography';


/* ----- 3: LAYOUT ------- */
@import '3-layout/l-header';
@import '3-layout/l-footer';
@import '3-layout/l-base';
@import '3-layout/l-form';

/* ----- 4: COMPONENTS ------- */
@import '4-components/c-button';
@import '4-components/c-card';
@import '4-components/c-modal';
@import '4-components/c-built-select';


/* ----- 5: PAGES ------- */
@import '5-pages/p-general';
@import '5-pages/p-hotsite';
@import '5-pages/p-laudo';
@import '5-pages/p-map';
@import '5-pages/p-region-report';
@import '5-pages/p-project';
@import '5-pages/p-metadata';
@import '5-pages/p-file-upload';
@import '5-pages/p-mapmobile';
@import '5-pages/p_mobile';
@import '5-pages/p_laudomobile';
@import '5-pages/p-report-car';
@import '5-pages/p-charts';