<div #report id="laudo" class="container-fluid">
    <div style="position: relative">
        <div style="display: grid; position: fixed; right: 11vw;top: 10%;">
            <button style="margin: 10px" (click)="printReport()" color="primary" classs="btn-info " mat-icon-button>
                <mat-icon>print</mat-icon>
            </button>
            <button style="margin: 10px" (click)="dialogRef.close()" color="accent" classs="btn-info " mat-icon-button>
                <mat-icon>highlight_off</mat-icon>
            </button>
        </div>
    </div>

    <p-scrollPanel [style]="{width: '98%', height: '100%'}">
        <div class="row">
            <div class="col-10">
                <h4 class="title-report">{{textOnDialog.title}}</h4>
            </div>
            <div class="col-2">
                <a href="https://cerradodpat.org" target="_blank">
                    <img class="logo-report" src="assets/logo/cerrado-dpat-logo.svg" /></a>
            </div>
        </div>

        <!--        <nav class="navbar sticky-top navbar-light bg-light nav-title-laudo">-->
        <!--           -->
        <!--            <ul class="navbar-nav mr-auto">-->
        <!--                <li class="nav-item">-->
        <!--                    <a href="https://cerradodpat.org" target="_blank">-->
        <!--                        <img class="logo-dpat" src="assets/logo/cerrado-dpat-logo.svg" /></a>-->
        <!--                </li>-->
        <!--            </ul>-->

        <!--            <div class="mx-auto order-0">-->
        <!--                <ul class="navbar-nav mx-auto">-->
        <!--                    <li class="nav-item" style="text-align: center;">-->
        <!--                      -->
        <!--                    </li>-->
        <!--                </ul>-->
        <!--            </div>-->


        <!--            <ul class="navbar-nav ml-auto">-->
        <!--                <li class="nav-item">-->
        <!--                    <mat-dialog-actions>-->
        <!--                        <ng-container ngProjectAs="btn-close">-->
        <!--                            <button mat-raised-button style="background-color: #f72424; color: white"-->
        <!--                                (click)="dialogRef.close()">{{textOnDialog.close_button_label}}</button>-->
        <!--                        </ng-container>-->
        <!--                    </mat-dialog-actions>-->
        <!--                </li>-->
        <!--            </ul>-->
        <!--        </nav>-->
        <div class="row">
            <mat-progress-bar *ngIf="loading" color="primary" mode="indeterminate"></mat-progress-bar>
            <p-accordion [multiple]="true">
                <p-accordionTab header="{{textOnDialog.information_tab.title_tab}}" [selected]="true">
                    <div class="p-grid p-justify-even">
                        <div class="p-col-2" *ngIf="infoDesmat.pathclassefip != '1' ">
                            <toh-spinner-img style="max-width: 100%" [largura]="'100%'"
                                [imgSrc]="infoDesmat.pathclassefip" [spinnerSrc]="svgLoading">
                            </toh-spinner-img>

                        </div>
                        <div class="p-col-4">
                            <div class="p-grid">
                                <div class="p-col-12">
                                    <h5 class="subtitles-report">
                                        <strong>{{textOnDialog.information_tab.metadados_label}}</strong>
                                    </h5>
                                </div>
                                <div class="p-col-5" style="font-weight: bold">
                                    {{textOnDialog.information_tab.polygon_label}} </div>
                                <div class="p-col-7">{{data.origin_table}}-CERRADO</div>

                                <div class="p-col-5" style="font-weight: bold">
                                    {{textOnDialog.information_tab.area_label}} </div>
                                <div class="p-col-7">{{infoDesmat.area | number:'1.2-3' }}
                                    {{textOnDialog.information_tab.unit_measure}}</div>

                                <div class="p-col-5" style="font-weight: bold">
                                    {{textOnDialog.information_tab.municipio_label}} </div>
                                <div class="p-col-7">{{data.municipio }} - {{data.uf }}</div>

                                <div class="p-col-5" style="font-weight: bold">
                                    {{textOnDialog.information_tab.detection_date_label}}</div>
                                <div class="p-col-7">{{data.dataFormatada}}</div>

                                <div class="p-col-5" style="font-weight: bold">
                                    {{textOnDialog.information_tab.latitude_label}} </div>
                                <div class="p-col-7">{{infoDesmat.latitude | number:'1.3-6' }}</div>

                                <div class="p-col-5" style="font-weight: bold">
                                    {{textOnDialog.information_tab.longitude_label}} </div>
                                <div class="p-col-7">{{infoDesmat.longitude | number:'1.3-6' }}</div>
                            </div>
                        </div>
                        <div class="p-col-6"
                            style="text-align: center; min-width: 300px; max-width: 350px; width: 100%">
                            <toh-spinner-img [largura]="'100%'" [altura]="'80%'" [imgSrc]="urlSentinel[0]?.thumb"
                                [spinnerSrc]="svgLoading" (click)="openLightboxSentinel()">
                            </toh-spinner-img>
                            <br>
                            {{textOnDialog.information_tab.landsat_image_description}} {{data.origin_table}}-Cerrado
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="{{textOnDialog.especial_area.title_tab}}">
                    <div class="p-grid " *ngIf="dataEspecial">
                        <div class="p-col-4">
                            <mat-card class="card-amostral">
                                <mat-card-header>
                                    <mat-card-title><strong>{{textOnDialog.especial_area.titleTI}}</strong>
                                    </mat-card-title>
                                    <mat-card-subtitle>
                                        <b style="text-align: center;"><i>{{dataEspecial.ti.ti_nom}}</i></b>
                                        <br>
                                        <b>{{textOnDialog.especial_area.distancia}}</b> {{dataEspecial.ti.ti_dist}} km
                                    </mat-card-subtitle>
                                </mat-card-header>

                                <mat-card-content *ngIf="dataEspecial.ti.show">
                                    <toh-spinner-img *ngIf="dataEspecial.ti.thumb" [imgSrc]="dataEspecial.ti.thumb"
                                        [largura]="'100%'" [spinnerSrc]="svgLoading" (click)="openLightboxEspecial(0)"
                                        class="img-landsat-laudo"></toh-spinner-img>
                                    <br><br>
                                    <img *ngIf="dataEspecial.ti.legendDesmatamento"
                                        [src]="dataEspecial.ti.legendDesmatamento">
                                    <img *ngIf="dataEspecial.ti.legendEspecial" [src]="dataEspecial.ti.legendEspecial">
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <div class="p-col-4">
                            <mat-card class="card-amostral">
                                <mat-card-header>
                                    <mat-card-title><strong>{{textOnDialog.especial_area.titleQ}}</strong>
                                    </mat-card-title>
                                    <mat-card-subtitle>
                                        <b style="text-align: center;"><i>{{dataEspecial.q.q_nom}}</i></b>
                                        <br>
                                        <b>{{textOnDialog.especial_area.distancia}}</b> {{dataEspecial.q.q_dist}} km
                                    </mat-card-subtitle>
                                </mat-card-header>

                                <mat-card-content *ngIf="dataEspecial.q.show">
                                    <toh-spinner-img [imgSrc]="dataEspecial.q.thumb" [largura]="'100%'"
                                        [spinnerSrc]="svgLoading" (click)="openLightboxEspecial(1)"
                                        class="img-landsat-laudo"></toh-spinner-img>
                                    <br><br>
                                    <img *ngIf="dataEspecial.q.legendDesmatamento"
                                        [src]="dataEspecial.q.legendDesmatamento">
                                    <img *ngIf="dataEspecial.q.legendEspecial" [src]="dataEspecial.q.legendEspecial">
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <!-- <div class="p-col-4">
                            <mat-card class="card-amostral">
                                <mat-card-header>
                                    <mat-card-title><strong>{{textOnDialog.especial_area.titleAP}}</strong>
                                    </mat-card-title>
                                    <mat-card-subtitle>
                                        <b style="text-align: center;"><i>{{dataEspecial.ap.ap_nom}}</i></b>
                                        <br>
                                        <b>{{textOnDialog.especial_area.distancia}}</b> {{dataEspecial.ap.ap_dist}} km
                                    </mat-card-subtitle>
                                </mat-card-header>

                                <mat-card-content *ngIf="dataEspecial.ap.show">
                                    <toh-spinner-img [imgSrc]="dataEspecial.ap.thumb" [largura]="'100%'"
                                        [spinnerSrc]="svgLoading" (click)="openLightboxEspecial(2)"
                                        class="img-landsat-laudo"></toh-spinner-img>
                                    <br><br>
                                    <img *ngIf="dataEspecial.ap.legendDesmatamento"
                                        [src]="dataEspecial.ap.legendDesmatamento">
                                    <img *ngIf="dataEspecial.ap.legendEspecial" [src]="dataEspecial.ap.legendEspecial">
                                </mat-card-content>
                            </mat-card>
                        </div> -->

                        <div class="p-col-4">
                            <mat-card class="card-amostral">
                                <mat-card-header>
                                    <mat-card-title><strong>{{textOnDialog.especial_area.titleUCPI}}</strong>
                                    </mat-card-title>
                                    <mat-card-subtitle>
                                        <b style="text-align: center;"><i>{{dataEspecial.ucpi.ucpi_nom}}</i></b>
                                        <br>
                                        <b>{{textOnDialog.especial_area.distancia}}</b> {{dataEspecial.ucpi.ucpi_dist}}
                                        km
                                    </mat-card-subtitle>
                                </mat-card-header>

                                <mat-card-content *ngIf="dataEspecial.ucpi.show">
                                    <toh-spinner-img [imgSrc]="dataEspecial.ucpi.thumb" [largura]="'100%'"
                                        [spinnerSrc]="svgLoading" (click)="openLightboxEspecial(3)"
                                        class="img-landsat-laudo"></toh-spinner-img>
                                    <br><br>
                                    <img *ngIf="dataEspecial.ucpi.legendDesmatamento"
                                        [src]="dataEspecial.ucpi.legendDesmatamento">
                                    <img *ngIf="dataEspecial.ucpi.legendEspecial"
                                        [src]="dataEspecial.ucpi.legendEspecial">
                                </mat-card-content>
                            </mat-card>
                        </div>

                        <div class="p-col-4">
                            <mat-card class="card-amostral">
                                <mat-card-header>
                                    <mat-card-title><strong>{{textOnDialog.especial_area.titleUCUS}}</strong>
                                    </mat-card-title>
                                    <mat-card-subtitle>
                                        <b style="text-align: center;"><i>{{dataEspecial.ucus.ucus_nom}}</i></b>
                                        <br>
                                        <b>{{textOnDialog.especial_area.distancia}}</b> {{dataEspecial.ucus.ucus_dist}}
                                        km
                                    </mat-card-subtitle>
                                </mat-card-header>

                                <mat-card-content *ngIf="dataEspecial.ucus.show">
                                    <toh-spinner-img [imgSrc]="dataEspecial.ucus.thumb" [largura]="'100%'"
                                        [spinnerSrc]="svgLoading" (click)="openLightboxEspecial(4)"
                                        class="img-landsat-laudo"></toh-spinner-img>
                                    <br><br>
                                    <img *ngIf="dataEspecial.ucus.legendDesmatamento"
                                        [src]="dataEspecial.ucus.legendDesmatamento">
                                    <img *ngIf="dataEspecial.ucus.legendEspecial"
                                        [src]="dataEspecial.ucus.legendEspecial">
                                </mat-card-content>
                            </mat-card>
                        </div>

                    </div>


                </p-accordionTab>
                <p-accordionTab header="{{textOnDialog.car_tab.title_tab}}"
                    *ngIf="carData.length > 0 && data.year >= 2013">
                    <div class="p-grid p-align-stretch vertical-container" *ngFor="let item of carData; let i=index">
                        <div class="p-col-6">
                            <h5 class="subtitles-report">{{textOnDialog.car_tab.title_info}}
                            </h5>
                            <br>
                            <p style="font-size: 14px; text-align: left;"> <b>{{textOnDialog.car_tab.cod_car_label}}
                                </b>
                                {{item.metaData.cod_car}} </p>
                            <p style="font-size: 14px; text-align: left;">
                                <b>{{textOnDialog.car_tab.area_car_label}}</b>
                                {{item.metaData.area_car | number:'1.2-3' }} km²</p>
                            <p style="font-size: 14px; text-align: left;">
                                <b>{{textOnDialog.car_tab.reference_date_car_label}}</b>
                                {{item.metaData.dataRefFormatada}} </p>
                            <p style="font-size: 14px; text-align: left;"
                                *ngIf="item.metaData.qnt_nascente || item.metaData.qnt_nascente > 0">
                                <b>{{textOnDialog.car_tab.nascente_car_label}}</b>
                                {{item.metaData.qnt_nascente}} </p>
                            <p style="font-size: 14px; text-align: left;"
                                *ngIf="item.metaData.area_rl || item.metaData.area_desmat_rl > 0.1 ">
                                <b>{{textOnDialog.car_tab.display_rl_message[0]}}</b>
                                {{item.metaData.area_desmat_rl | number:'1.2-3' }}
                                {{textOnDialog.car_tab.display_rl_message[1]}} {{item.metaData.percentRL}}
                                {{textOnDialog.car_tab.display_rl_message[2]}} </p>
                            <p style="font-size: 14px; text-align: left;"
                                *ngIf="item.metaData.area_desmat_app && item.metaData.area_desmat_app > 0.1">
                                <b>{{textOnDialog.car_tab.display_app_message[0]}}</b>
                                {{item.metaData.area_desmat_app | number:'1.2-3' }}
                                {{textOnDialog.car_tab.display_app_message[1]}} {{item.metaData.percentAPP}}
                                {{textOnDialog.car_tab.display_app_message[2]}}</p>
                        </div>

                        <div class="p-col-6 ">
                            <div class="p-grid">

                                <div class="p-col-8"
                                    style="text-align: center; min-width: 300px; max-width: 350px; width: 100%">
                                    <toh-spinner-img [largura]="'100%'" [altura]="'80%'" [imgSrc]="vetCar[i]?.thumb"
                                        [spinnerSrc]="svgLoading" (click)="openLightboxCAR()">
                                    </toh-spinner-img>
                                </div>

                                <div class="p-col-4">
                                    <img *ngIf="item.imgsCar.legendDesmatamento"
                                        [src]="item.imgsCar.legendDesmatamento">
                                    <img *ngIf="item.imgsCar.legendCar" [src]="item.imgsCar.legendCar">
                                    <img *ngIf="item.imgsCar.legendAPP" [src]="item.imgsCar.legendAPP">
                                    <img *ngIf="item.imgsCar.legendRL" [src]="item.imgsCar.legendRL">
                                    <img *ngIf="item.imgsCar.legendNascente" [src]="item.imgsCar.legendNascente">

                                    <br><br>
                                    <div *ngIf="item.metaData.percentDesmat !== ''"
                                        style="font-size: medium; text-align: justify">
                                        <span>
                                            {{this.textOnDialog.car_tab.display_car_description_message[0]}}
                                            <b>{{data.origin_table}}-CERRADO</b>
                                            {{this.textOnDialog.car_tab.display_car_description_message[1]}}
                                            <strong>{{item.metaData.percentDesmat}}</strong>
                                            {{this.textOnDialog.car_tab.display_car_description_message[2]}}</span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </p-accordionTab>
                <p-accordionTab header="{{textOnDialog.campo_tab.title_tab}}" *ngIf="dataCampo.length > 0">

                    <div class="p-grid p-justify-even">
                        <div class="p-col-8">
                            <p-tabView>
                                <p-tabPanel header="{{textOnDialog.campo_tab.title_camera_tab}}" leftIcon="pi pi-camera"
                                    [selected]="true" *ngIf="galleryCamera.length > 0">
                                    <ngx-gallery [options]="galleryOptions" [images]="galleryCamera"></ngx-gallery>
                                </p-tabPanel>
                                <p-tabPanel header="{{textOnDialog.campo_tab.title_drone_photo_tab}}"
                                    leftIcon="pi pi-images" *ngIf="galleryDrones.length > 0">
                                    <ngx-gallery [options]="galleryOptions" [images]="galleryDrones"></ngx-gallery>
                                </p-tabPanel>
                                <p-tabPanel header="{{textOnDialog.campo_tab.title_drone_video_tab}}"
                                    leftIcon="pi pi-video" *ngIf="galleryVideos.length > 0">
                                    <ngx-gallery [options]="galleryOptions" [images]="galleryVideos"></ngx-gallery>
                                </p-tabPanel>
                            </p-tabView>
                        </div>

                        <div class="p-col-4">
                            <div class="p-grid" style="font-size: 16px; text-align: left; padding-top: 4px">
                                <div class="p-col-12">
                                    <h5 class="subtitles-report">
                                        {{textOnDialog.campo_tab.field_data_label}}
                                    </h5>
                                </div>
                                <div class="p-col-5" style="font-weight: bold">
                                    {{textOnDialog.campo_tab.field_number_label}} </div>
                                <div class="p-col-7">{{infoVisita.campo}}</div>
                                <div class="p-col-5" style="font-weight: bold">
                                    {{textOnDialog.campo_tab.field_visit_date_label}} </div>
                                <div class="p-col-7">{{infoVisita.dataFormatada}}</div>
                                <div class="p-col-5" style="font-weight: bold">
                                    {{textOnDialog.information_tab.latitude_label}} </div>
                                <div class="p-col-7">{{infoVisita.latitude}}</div>
                                <div class="p-col-5" style="font-weight: bold">
                                    {{textOnDialog.information_tab.longitude_label}} </div>
                                <div class="p-col-7">{{infoVisita.longitude}}</div>
                                <div *ngIf="infoVisita.usocobertura != ' '" class="p-col-5" style="font-weight: bold">
                                    {{textOnDialog.campo_tab.field_uso_do_solo_label}} </div>
                                <div *ngIf="infoVisita.usocobertura != ' '" class="p-col-7">{{infoVisita.usocobertura}}
                                </div>
                                <div *ngIf="infoVisita.obs != ' '" class="p-col-5" style="font-weight: bold">
                                    {{textOnDialog.campo_tab.field_observation_label}} </div>
                                <div *ngIf="infoVisita.obs != ' '" class="p-col-7">{{infoVisita.obs}}</div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="{{textOnDialog.historico_amostral_landsat.title_tab}}">

                    <div class="p-grid">

                        <div class="p-col-6">
                            <div *ngIf="dadosValidacao_Amostral.exist" class="p-grid"
                                style="font-size: 16px; text-align: center; padding-top: 4px">
                                <div class="p-col-12" style="text-align: center">
                                    <h5 class="subtitles-report">
                                        {{textOnDialog.historico_amostral_landsat.amostral_title}}
                                    </h5>
                                </div>
                                <div class="p-col-5" style="text-align: center">
                                    <strong> {{textOnDialog.historico_amostral_landsat.class_lapig_label}} </strong>
                                </div>
                                <div class="p-col-7">{{dadosValidacao_Amostral.finalClass}}</div>
                            </div>
                        </div>

                        <div class="p-col-4">
                            <div *ngIf="dadosValidacao_Amostral.exist" style="text-align: center">
                                <h5 class="subtitles-report">
                                    {{textOnDialog.historico_amostral_landsat.amostral_classes_legend_label}}
                                </h5>
                                <img [src]="urlsLandSat.legend">
                            </div>
                        </div>



                    </div>

                    <div class="p-grid p-justify-even" style="margin-top: .5em ; text-align: center; padding: 26px;">

                        <div class="p-col" style="min-width: 300px; max-width: 390px; width: 100%"
                            *ngFor="let landsat of albumLandsat; let i=index">

                            <mat-card class="card-amostral">
                                <mat-card-header>
                                    <mat-card-title><strong>{{landsat.caption}}</strong></mat-card-title>
                                    <!-- <mat-card-subtitle>Dog Breed</mat-card-subtitle> -->
                                </mat-card-header>
                                <toh-spinner-img [imgSrc]="landsat.thumb" [largura]="'100%'" [spinnerSrc]="svgLoading"
                                    (click)="openImage(i)" id="img-landsat" class="img-landsat-laudo"></toh-spinner-img>
                                <mat-card-content>


                                </mat-card-content>
                            </mat-card>

                        </div>
                    </div>

                    <div style="margin-top: 4.5em; text-align: center; ">
                        <h5 class="subtitles-report">{{textOnDialog.historico_amostral_landsat.series_modis_title}}</h5>
                        <img style="height: 50px" *ngIf="!dataTimeseriesModis.type" src="/assets/gif/loadchart.gif">
                        <div id="reportChart" #reportChart>
                            <p-chart *ngIf="dataTimeseriesModis.type" [type]="dataTimeseriesModis.type"
                                [data]="dataTimeseriesModis" [options]="optionsTimeSeries">
                            </p-chart>
                        </div>

                    </div>

                </p-accordionTab>
                <p-accordionTab header="{{textOnDialog.analise_automatica.title_tab}}"
                    *ngIf="data.year > 2015 && data.year <= 2019">
                    <div class="p-grid" style="margin-top: .5em">
                        <div class="p-col" style="text-align: center;">
                            <h5 class="subtitles-report">{{textOnDialog.analise_automatica.title_info_susceptibility}}
                            </h5>
                            <div class="p-grid" style="margin-top: .3em">
                                <div class="p-col-4" style="text-align: center;">
                                    <img *ngIf="dataSuscept.legend" [src]="dataSuscept.legend">
                                    <br>
                                    <span style="font-size: 14px">
                                        <strong>{{textOnDialog.analise_automatica.info_susceptibility_faixas}}</strong>
                                    </span> <br>
                                    <br>
                                    <span style="font-size: 14px" *ngIf="dataSuscept.prob_suscept != null">
                                        {{textOnDialog.analise_automatica.info_susceptibility_description_split[0]}}
                                        <b>{{dataSuscept.type}}</b>
                                        {{textOnDialog.analise_automatica.info_susceptibility_description_split[1]}}
                                        <strong>{{dataSuscept.sucept_desmatFormatada}}.</strong></span>

                                    <!-- <span style="font-size: medium" *ngIf="dataSuscept.prob_suscept == null">
                                        A susceptibilidade a desmatamentos neste polígono
                                        <strong>{{dataSuscept.sucept_desmatFormatada}}.</strong></span> -->
                                </div>
                                <div class="p-col-8"
                                    style="text-align: center; min-width: 300px; max-width: 350px; width: 100%">
                                    <toh-spinner-img [imgSrc]="vetSuscept[0]?.thumb" [spinnerSrc]="svgLoading"
                                        [largura]="'100%'" (click)="openLightboxSuscept()">
                                    </toh-spinner-img>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="p-col" style="text-align: left;"
                            *ngIf="dataBfast.pct_bfast != null && dataBfast.pct_bfast > 0">
                            <h5 class="subtitles-report">{{textOnDialog.analise_automatica.title_info_bfast}}</h5>
                            <div class="p-grid" style="margin-top: .5em">
                                <div class="p-col-4" style="text-align: center; ">
                                    <img *ngIf="dataBfast.legend" [src]="dataBfast.legend">
                                    <br>
                                    <span style="font-size: 14px;">
                                        <strong>{{textOnDialog.analise_automatica.info_bfast_faixas}}</strong>
                                    </span>
                                    <br>
                                    <br>
                                    <span style="font-size: 14px;">
                                        {{textOnDialog.analise_automatica.info_bfast_description}}
                                        <strong>{{dataBfast.prob_Formatada}}.</strong></span>
                                </div>
                                <div class="p-col-8"
                                    style="text-align: left; min-width: 300px; max-width: 350px; width: 100%">
                                    <toh-spinner-img [imgSrc]="vetBfast[0]?.thumb" [spinnerSrc]="svgLoading"
                                        [largura]="'100%'" (click)="openLightboxBfast()">
                                    </toh-spinner-img>

                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="{{textOnDialog.fip_abc_tab.title_tab}}" *ngIf="abcData.length > 0">
                    <div class="p-grid p-align-stretch vertical-container" *ngFor="let item of abcData; let i=index">
                        <div class="p-col-6">
                            <h5 class="subtitles-report">{{textOnDialog.fip_abc_tab.title_info}}</h5>
                            <br>
                            <!-- <p style="font-size: 16px; text-align: left;"> <b>{{textOnDialog.car_tab.cod_car_label}}
                                </b>
                                {{item.metaData.cod_car}} </p> -->
                            <p style="font-size: 16px; text-align: left;">
                                <b>{{textOnDialog.fip_abc_tab.property_area_label}}</b>
                                {{item.metaData.area_propriedade | number:'1.2-3' }} km²</p>
                            <p style="font-size: 16px; text-align: left;">
                                <b>{{textOnDialog.fip_abc_tab.property_area_explored_label}}</b>
                                {{item.metaData.area_explorada | number:'1.2-3' }} km²</p>
                            <p style="font-size: 16px; text-align: left;" *ngIf="item.metaData.area_tecnologia > 0">
                                <b>{{textOnDialog.fip_abc_tab.property_area_tec_label}}</b>
                                {{item.metaData.area_tecnologia | number:'1.2-3' }} km² </p>
                            <p style="font-size: 16px; text-align: left;" *ngIf="item.metaData.tec_impl != null">
                                <b>{{textOnDialog.fip_abc_tab.property_applied_tec_label}}</b>
                                {{item.metaData.tec_impl}} </p>
                            <p style="font-size: 16px; text-align: left;">
                                <b>{{textOnDialog.fip_abc_tab.property_area_deforested_label}}</b>
                                {{item.metaData.area_desmatada | number:'1.2-3' }} km² </p>

                        </div>

                        <div class="p-col-6 ">
                            <div class="p-grid">

                                <div class="p-col-8"
                                    style="text-align: center; min-width: 300px; max-width: 350px; width: 100%">
                                    <toh-spinner-img [largura]="'100%'" [altura]="'80%'" [imgSrc]="vetABC[i]?.thumb"
                                        [spinnerSrc]="svgLoading" (click)="openLightboxABC()">
                                    </toh-spinner-img>
                                </div>

                                <div class="p-col-4">
                                    <img *ngIf="item.imgsProp.legendProp" [src]="item.imgsProp.legendProp">
                                    <img *ngIf="item.imgsProp.legendExp" [src]="item.imgsProp.legendExp">
                                    <img *ngIf="item.imgsProp.legendTec" [src]="item.imgsProp.legendTec">
                                    <img *ngIf="item.imgsProp.legendDesmatamento"
                                        [src]="item.imgsProp.legendDesmatamento">

                                </div>

                            </div>
                        </div>
                    </div>
                </p-accordionTab>

            </p-accordion>
        </div>
        <div class="row">
            <div class="p-grid p-dir-rev mt-5">
                <div class="p-col-12">
                    <a href="" target="_blank"><img class="report-partners" src="assets/img/assinatura.png" /></a>
                </div>
            </div>
        </div>
    </p-scrollPanel>
</div>