<div class="container-fluid">
    <p-scrollPanel [style]="{width: '100%', height: '100%'}">
        <nav class="navbar sticky-top navbar-light bg-light nav-title-laudo">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <h3><strong>Laudo do Desmatamento </strong></h3>
                </li>
            </ul>
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <mat-dialog-actions>
                        <ng-container ngProjectAs="btn-close">
                            <button mat-raised-button style="background-color: #f72424; color: white"
                                (click)="dialogRef.close()">Fechar</button>
                        </ng-container>
                    </mat-dialog-actions>
                </li>
            </ul>
        </nav>

        <div class="row">
            <p-accordion [multiple]="true">
                <p-accordionTab header="Informações sobre o Polígono" [selected]="true">
                    <div class="p-grid p-justify-even">
                        <div class="p-col-4">
                            <div class="p-grid" style="font-size: 16px; text-align: center; padding-top: 4px">
                                <div class="p-col-12">
                                    <h5 style="text-align: center"><strong><i>Metadados</i></strong></h5>
                                </div>
                                <div class="p-col-5" style="font-weight: bold">Polígono: </div>
                                <div class="p-col-7">{{data.origin_table}}-CERRADO</div>

                                <div class="p-col-5" style="font-weight: bold">Área Desmatada: </div>
                                <div class="p-col-7">{{infoDesmat.area | number:'1.2-3' }} km²</div>

                                <div class="p-col-5" style="font-weight: bold">Município: </div>
                                <div class="p-col-7">{{data.municipio }} - {{data.uf }}</div>

                                <div class="p-col-5" style="font-weight: bold">Data da Detecção: </div>
                                <div class="p-col-7">{{data.dataFormatada}}</div>

                                <div class="p-col-5" style="font-weight: bold">Latitude: </div>
                                <div class="p-col-7">{{infoDesmat.latitude | number:'1.3-6' }}</div>

                                <div class="p-col-5" style="font-weight: bold">Longitude: </div>
                                <div class="p-col-7">{{infoDesmat.longitude | number:'1.3-6' }}</div>
                            </div>
                        </div>
                        <div class="p-col-8"
                            style="text-align: center; min-width: 300px; max-width: 350px; width: 100%">
                            <toh-spinner-img [largura]="'100%'" [altura]="'80%'" [imgSrc]="urlSentinel[0]?.thumb"
                                [spinnerSrc]="'/assets/gif/loadImage.gif'" (click)="openLightboxSentinel()">
                            </toh-spinner-img>
                            <br>
                            <strong>Imagem inspecionada pelo {{data.origin_table}}-CERRADO</strong>
                        </div>
                    </div>
                </p-accordionTab>

                <p-accordionTab header="Cadastro Ambiental Rural (CAR)" *ngIf="carData.length > 0">
                    <div class="p-grid p-align-stretch vertical-container" *ngFor="let item of carData; let i=index">
                        <div class="p-col-6">
                            <h5 style="text-align: center"><strong><i>Informações Cruzadas</i></strong>
                            </h5>
                            <br>
                            <p style="font-size: 16px; text-align: left;"> <b>Código CAR:</b>
                                {{item.metaData.cod_car}} </p>
                            <p style="font-size: 16px; text-align: left;"> <b>Área total da propriedade:</b>
                                {{item.metaData.area_car | number:'1.2-3' }} km²</p>
                            <p style="font-size: 16px; text-align: left;"> <b>Data de Referência:</b>
                                {{item.metaData.dataRefFormatada}} </p>
                            <p style="font-size: 16px; text-align: left;" *ngIf="item.metaData.area_rl"> <b>Área dentro
                                    da Reserva Legal:</b>
                                {{item.metaData.area_rl | number:'1.2-3' }} km² ({{item.metaData.percentRL}} da área total da Reserva Legal.) </p>
                            <p style="font-size: 16px; text-align: left;" *ngIf="item.metaData.qnt_nascente">
                                <b>Quantidade de nascentes na propriedade rural:</b>
                                {{item.metaData.qnt_nascente}} </p>
                            <p style="font-size: 16px; text-align: left;" *ngIf="item.metaData.areaapp"> <b>Área desmatada dentro
                                    de APP:</b>
                                {{item.metaData.areaapp | number:'1.2-3' }} km² </p>
                        </div>

                        <div class="p-col-6 ">
                            <div class="p-grid">

                                <div class="p-col-8"
                                    style="text-align: center; min-width: 300px; max-width: 350px; width: 100%">
                                    <toh-spinner-img [largura]="'100%'" [altura]="'80%'" [imgSrc]="vetCar[i]?.thumb"
                                        [spinnerSrc]="'/assets/gif/loadImage.gif'" (click)="openLightboxCAR()">
                                    </toh-spinner-img>
                                </div>

                                <div class="p-col-4">
                                    <img *ngIf="item.imgsCar.legendDesmatamento"
                                        [src]="item.imgsCar.legendDesmatamento">
                                    <img *ngIf="item.imgsCar.legendCar" [src]="item.imgsCar.legendCar">
                                    <img *ngIf="item.imgsCar.legendAPP" [src]="item.imgsCar.legendAPP">
                                    <img *ngIf="item.imgsCar.legendRL" [src]="item.imgsCar.legendRL">
                                    <img *ngIf="item.imgsCar.legendNascente" [src]="item.imgsCar.legendNascente">

                                    <br><br>
                                    <div  *ngIf="item.metaData.percent != ''" style="font-size: medium; text-align: justify">
                                    <span>
                                        Este desmatamento detectado pelo <b>{{data.origin_table}}-CERRADO</b>
                                        corresponde a
                                        <strong>{{item.metaData.percent}}</strong> da área total da propriedade
                                        rural.</span> </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </p-accordionTab>

                <p-accordionTab header="Validação de Campo" *ngIf="dataCampo.length > 0">

                    <div class="p-grid p-justify-even">
                        <div class="p-col-8">
                            <p-tabView>
                                <p-tabPanel header="Fotos de Câmera" leftIcon="pi pi-camera" [selected]="true"
                                    *ngIf="galleryCamera.length > 0">
                                    <ngx-gallery [options]="galleryOptions" [images]="galleryCamera"></ngx-gallery>
                                </p-tabPanel>
                                <p-tabPanel header="Fotos de Drone" leftIcon="pi pi-images"
                                    *ngIf="galleryDrones.length > 0">
                                    <ngx-gallery [options]="galleryOptions" [images]="galleryDrones"></ngx-gallery>
                                </p-tabPanel>
                                <p-tabPanel header="Vídeos de Drone" leftIcon="pi pi-video"
                                    *ngIf="galleryVideos.length > 0">
                                    <ngx-gallery [options]="galleryOptions" [images]="galleryVideos"></ngx-gallery>
                                </p-tabPanel>
                            </p-tabView>
                        </div>

                        <div class="p-col-4">
                            <div class="p-grid" style="font-size: 16px; text-align: center; padding-top: 4px">
                                <div class="p-col-12">
                                    <h5 style="text-align: center"><strong><i>Dados de Campo</i></strong>
                                    </h5>
                                </div>
                                <div class="p-col-5" style="font-weight: bold">Data da Visita: </div>
                                <div class="p-col-7">{{infoVisita.dataFormatada}}</div>
                                <div class="p-col-5" style="font-weight: bold">Latitude: </div>
                                <div class="p-col-7">{{infoVisita.latitude}}</div>
                                <div class="p-col-5" style="font-weight: bold">Longitude: </div>
                                <div class="p-col-7">{{infoVisita.longitude}}</div>
                                <div *ngIf="infoVisita.usocobertura != ' '" class="p-col-5" style="font-weight: bold">
                                    Uso e Cobertura do Solo: </div>
                                <div *ngIf="infoVisita.usocobertura != ' '" class="p-col-7">{{infoVisita.usocobertura}}
                                </div>
                                <div *ngIf="infoVisita.obs != ' '" class="p-col-5" style="font-weight: bold">
                                    Observações: </div>
                                <div *ngIf="infoVisita.obs != ' '" class="p-col-7">{{infoVisita.obs}}</div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Histórico de Imagens LandSat">
                    <div class="p-grid p-justify-even" style="margin-top: .5em ; text-align: center;">
                        <div class="p-col" style="min-width: 300px; max-width: 350px; width: 100%"
                            *ngFor="let landsat of albumLandsat; let i=index">

                            <toh-spinner-img [imgSrc]="landsat.thumb" [largura]="'100%'"
                                [spinnerSrc]="'/assets/gif/loadImage.gif'" (click)="openImage(i)" id="img-landsat"
                                class="img-landsat-laudo"></toh-spinner-img>
                            <!--<img [src]="landsat.thumb" id="img-landsat" class="img-landsat-laudo" style="width: 100%">-->
                            <br>
                            <span style="font-size: medium">
                                <strong>{{landsat.caption}}</strong></span>
                        </div>
                    </div>
                </p-accordionTab>
                <p-accordionTab header="Análise Automática" *ngIf="data.year > 2015">
                    <div class="p-grid" style="margin-top: .5em">
                        <div class="p-col" style="text-align: center;">
                            <h5><strong>Superfície de Susceptibilidade ao Desmatamento</strong></h5>
                            <div class="p-grid" style="margin-top: .3em">
                                <div class="p-col-4" style="text-align: center;">
                                    <img *ngIf="dataSuscept.legend" [src]="dataSuscept.legend">
                                    <br>
                                    <span style="font-size: small">
                                        <strong>*Faixas de probabilidade de desmatamento*</strong>
                                    </span> <br>
                                    <br>
                                    <span style="font-size: medium" *ngIf="dataSuscept.prob_suscept != null">
                                        A susceptibilidade a desmatamentos {{dataSuscept.type}} a 0,5 km²
                                        neste polígono é de
                                        <strong>{{dataSuscept.sucept_desmatFormatada}}.</strong></span>

                                    <span style="font-size: medium" *ngIf="dataSuscept.prob_suscept == null">
                                        A susceptibilidade a desmatamentos neste polígono
                                        <strong>{{dataSuscept.sucept_desmatFormatada}}.</strong></span>
                                </div>
                                <div class="p-col-8"
                                    style="text-align: center; min-width: 300px; max-width: 350px; width: 100%">
                                    <toh-spinner-img [imgSrc]="vetSuscept[0]?.thumb"
                                        [spinnerSrc]="'/assets/gif/loadImage.gif'" [largura]="'100%'"
                                        (click)="openLightboxSuscept()">
                                    </toh-spinner-img>
                                    <br>
                                </div>
                            </div>
                        </div>
                        <div class="p-col" style="text-align: center;"
                            *ngIf="dataBfast.pct_bfast != null && dataBfast.pct_bfast > 0">
                            <h5><strong>BFAST-Monitor</strong></h5>
                            <div class="p-grid" style="margin-top: .5em">
                                <div class="p-col-4" style="text-align: center;">
                                    <img *ngIf="dataBfast.legend" [src]="dataBfast.legend">
                                    <br>
                                    <span style="font-size: small">
                                        <strong>*Informações sobre quebras nos pixels MODIS*</strong>
                                    </span>
                                    <br>
                                    <br>
                                    <span style="font-size: medium">
                                        A taxa de pixels MODIS que sofreram quebras em suas séries temporais foi de:
                                        <strong>{{dataBfast.prob_Formatada}}.</strong></span>
                                </div>
                                <div class="p-col-8"
                                    style="text-align: center; min-width: 300px; max-width: 350px; width: 100%">
                                    <toh-spinner-img [imgSrc]="vetBfast[0]?.thumb"
                                        [spinnerSrc]="'/assets/gif/loadImage.gif'" [largura]="'100%'"
                                        (click)="openLightboxBfast()">
                                    </toh-spinner-img>

                                </div>
                            </div>
                        </div>
                    </div>
                </p-accordionTab>
            </p-accordion>
        </div>



        <nav class="navbar navbar-default navbar-fixed-bottom">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a href="http://climatefundsupdate.org/the-funds/forest-investment-program/" target="_blank"><img
                            class="logo-cepf" src="assets/logo/fip.png" /></a>
                </li>
                <li class="nav-item">
                    <a href="https://www.lapig.iesa.ufg.br/lapig/" target="_blank"><img class="logo-lapig"
                            src="assets/logo/lapig.png" /></a>
                </li>
            </ul>
        </nav>
    </p-scrollPanel>
</div>