<div id="capacitacao" class="container">
    <nav class=" shadow-lg mt-5 navbar navbar-expand-lg  bg-dark">
        <a class="navbar-brand ml-4" href="#">
            <img class="img-logo" src="../../../assets/logo/logo-dpat.png" alt="Cerrado DAPT" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup">
            <mat-icon>menu_open</mat-icon>
        </button>
    </nav>

    <section id="slider">
        <h4 class="mt-5 mb-5 text-center">Capacitações do Cerrado DPAT</h4>
        <!-- <img class="shadow-lg d-block folder" src="../../../assets/img/folder.jpeg" alt="Folder"> -->
    </section>

    <section class="m-2 mt-4" id="resumo">
        <p class="mt-2 text-justify lead">
            O Ministério de Ciências, Tecnologia e Inovações (MCTI) e a Universidade Federal de Goiás (UFG) com o apoio da Associação Tocantinense de Municípios (ATM) convidam para Capacitação do Cerrado DPAT: uso e conhecimento da plataforma desenvolvida para qualificação
            e contextualização do desmatamento no bioma Cerrado, com foco para os municípios do Tocantins. O treinamento ocorrerá no dia <b>18 de agosto, entre
                08h30 e
                12h</b>, e o público-alvo são gestores, fiscais e demais servidores das Secretarias de Meio Ambiente.

        </p>
        <p class="mt-2 text-justify lead">
            O aprofundamento da ferramenta possibilitará aos tomadores de decisões mais <b>recursos para a gestão
                territorial</b>, pois permite a visualização e sobreposição das áreas desmatadas com outras bases de dados georreferenciados (CAR, áreas protegidas, áreas prioritárias para a conservação da biodiversidade, queimadas, precipitação, solos
            e declividade). Além disso, os dados da plataforma podem auxiliar a adequação e comprovação do município aos critérios ambientais estabelecidos em leis estaduais, <b>o ICMS
                Ecológico</b>. Em alguns municípios, a parcela representa mais da metade do repasse total. Também é possível identificar o passivo ambiental existente no município e identificar as áreas aptas a receber benefícios decorrentes da respectiva
            preservação (ex: Cotas de Reserva Legal) possibilitando a <b>fiscalização e regularização
                ambiental.</b>

        </p>
        <p class="mt-2 text-justify lead">
            A capacitação será <b>online, gratuita e com emissão de certificado</b>. A programação consiste na apresentação da plataforma e todas as suas ferramentas com o foco no uso de mapas temáticos e imagens de satélite e no monitoramento do desmatamento.
        </p>
    </section>

    <section class="m-2 mt-4">
        <a class="" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSfLiqNMf4QmgRoKgcJ39phFr2d8BKlAtz3Xi9ntz1iz5_NI1g/viewform">
            <div class="btn-subscribe">Inscreva-se clicando aqui</div>
        </a>
    </section>


    <footer id="sticky-footer" class="py-4">
        <div class="text-center">
            <img src="../../../assets/img/assinatura-02.png" class="img-fluid " alt="Relatório do desmatamento.">
        </div>
    </footer>

</div>