<div id="capacitacao" class="container">
    <nav class=" shadow-lg mt-5 navbar navbar-expand-lg  bg-dark">
        <a class="navbar-brand ml-4" href="#">
            <img class="img-logo" src="../../../assets/logo/logo-dpat.png" alt="Cerrado DAPT" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup">
            <mat-icon>menu_open</mat-icon>
        </button>
    </nav>

    <!-- <section id="slider">
        <h4 class="mt-5 mb-5 text-center">Capacitações do Cerrado DPAT</h4>
        <img class="shadow-lg d-block folder" src="../../../assets/img/folder.jpeg" alt="Folder">
    </section> -->

    <section class="m-2 mt-4" id="resumo">
        <p class="mt-2 text-justify lead">
            O Ministério de Ciência, Tecnologia e Inovação (MCTI), a Universidade Federal de Goiás (UFG) e a Federação
            Goiana de Municípios (FGM) convidam para a Capacitação do Cerrado DPAT: uso e conhecimento da plataforma
            desenvolvida para qualificação e contextualização do desmatamento no bioma Cerrado.
        </p>
        <p class="mt-2 text-justify lead">
            As capacitações serão online, gratuitas e com emissão de certificado. A sua programação consiste na
            abordagem dos conceitos básicos de geotecnologias, com o foco no uso de mapas temáticos e imagens de
            satélite no monitoramento do desmatamento.
        </p>
        <p class="mt-2 text-justify lead">
            O Cerrado DPAT é mais um instrumento remoto de fiscalização ambiental e territorial para os gestores.
        </p>
    </section>

    <section class="m-2 mt-4">
        <a class="" target="_blank"
            href="https://docs.google.com/forms/d/1qmOPRXuY74BBcPfY6eaUqEPXHRY05P4mV843cSX8QQA/edit">
            <div class="btn-subscribe">Inscreva-se clicando aqui</div>
        </a>
    </section>
    <section class="m-2 mt-4 capacitacoes">
        <h4 class="mt-5 text-center">Calendário de capacitações</h4>
        <div class="cards">
            <div class="card">
                <h5 class="card-title">1ª Capacitação Plataforma Cerrado DPAT</h5>
                <div class="card-body">
                    <p>Público: Municípios das mesorregiões Norte, Leste e Noroeste</p>
                    <p>Data: 10 e 11/03</p>
                    <p>Horário: 08h às 12h - 14h às 17h</p>
                </div>
            </div>
            <div class="card">
                <h5 class="card-title">2ª Capacitação Plataforma Cerrado DPAT</h5>
                <div class="card-body">
                    <p>Público: Municípios da mesorregião Centro Goiano</p>
                    <p>Data: 17 e 18/03</p>
                    <p>Horário: 08h às 12h - 14h às 17h</p>
                </div>
            </div>
            <div class="card">
                <h5 class="card-title">3ª Capacitação Plataforma Cerrado DPAT</h5>
                <div class="card-body">
                    <p>Público: Municípios da mesorregião Sul Goiano</p>
                    <p>Data: 24 e 25/03 </p>
                    <p>Horário: 08h às 12h - 14h às 17h</p>
                </div>
            </div>
        </div>
    </section>
    <section class="m-2 mt-4 mesoregions">
        <h4 class="m-5 text-center">Mesorregiões</h4>
        <div class="regions">
            <!-- <img class="" src="https://www.imb.go.gov.br/images/mapas/mapa-mesorregioes-goias-ibge.jpg" alt="Regiões"> -->
            <img class="shadow-lg d-block folder" src="../../../assets/img/capacitacao/mesorregioes_go_nomes.jpg"
                alt="Folder">
            <!-- <p>1 - Centro Goiano</p>
            <p>2 - Leste Goiano</p>
            <p>3 - Noroeste Goiano</p>
            <p>4 - Norte Goiano</p>
            <p>5 - Sul Goiano</p> -->
        </div>
        <!-- <p class="mt-5 text-justify lead">
            Confira <a
                href="https://www.imb.go.gov.br/geoinforma%C3%A7%C3%A3o/mapas/mapas-das-mesorregi%C3%B5es-de-goi%C3%A1s-ibge.html"
                target="_blank"> aqui</a> a mesorregião que seu município integra.
        </p> -->

        <h5 class="m-5 text-center"> Confira na tabela abaixo a mesorregião que seu município integra.</h5>

        <table class="table">
            <table class="table table-bordered table-hover table-condensed">
                <thead>
                    <tr>
                        <th title="Centro Goiano">Centro Goiano</th>
                        <th title="Leste Goiano">Leste Goiano</th>
                        <th title="Noroeste Goiano">Noroeste Goiano</th>
                        <th title="Norte Goiano">Norte Goiano</th>
                        <th title="Sul Goiano">Sul Goiano</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Abadia de Goiás</td>
                        <td>Abadiânia</td>
                        <td>Aragarças</td>
                        <td>Alto Horizonte</td>
                        <td>Acreúna</td>
                    </tr>
                    <tr>
                        <td>Adelândia</td>
                        <td>Água Fria de Goiás</td>
                        <td>Araguapaz</td>
                        <td>Alto Paraíso de Goiás</td>
                        <td>Água Limpa</td>
                    </tr>
                    <tr>
                        <td>Americano do Brasil</td>
                        <td>Águas Lindas de Goiás</td>
                        <td>Arenópolis</td>
                        <td>Amaralina</td>
                        <td>Aloândia</td>
                    </tr>
                    <tr>
                        <td>Amorinópolis</td>
                        <td>Alexânia</td>
                        <td>Aruanã</td>
                        <td>Bonópolis</td>
                        <td>Anhanguera</td>
                    </tr>
                    <tr>
                        <td>Anápolis</td>
                        <td>Alvorada do Norte</td>
                        <td>Baliza</td>
                        <td>Campinaçu</td>
                        <td>Aparecida do Rio Doce</td>
                    </tr>
                    <tr>
                        <td>Anicuns</td>
                        <td>Buritinópolis</td>
                        <td>Bom Jardim de Goiás</td>
                        <td>Campinorte</td>
                        <td>Aporé</td>
                    </tr>
                    <tr>
                        <td>Aparecida de Goiânia</td>
                        <td>Cabeceiras</td>
                        <td>Britânia</td>
                        <td>Campos Belos</td>
                        <td>Bom Jesus de Goiás</td>
                    </tr>
                    <tr>
                        <td>Araçu</td>
                        <td>Cidade Ocidental</td>
                        <td>Crixás</td>
                        <td>Campos Verdes</td>
                        <td>Buriti Alegre</td>
                    </tr>
                    <tr>
                        <td>Aragoiânia</td>
                        <td>Cocalzinho de Goiás</td>
                        <td>Diorama</td>
                        <td>Cavalcante</td>
                        <td>Cachoeira Alta</td>
                    </tr>
                    <tr>
                        <td>Aurilândia</td>
                        <td>Corumbá de Goiás</td>
                        <td>Faina</td>
                        <td>Colinas do Sul</td>
                        <td>Cachoeira Dourada</td>
                    </tr>
                    <tr>
                        <td>Avelinópolis</td>
                        <td>Cristalina</td>
                        <td>Goiás</td>
                        <td>Estrela do Norte</td>
                        <td>Caçu</td>
                    </tr>
                    <tr>
                        <td>Barro Alto</td>
                        <td>Damianópolis</td>
                        <td>Itapirapuã</td>
                        <td>Formoso</td>
                        <td>Caiapônia</td>
                    </tr>
                    <tr>
                        <td>Bela Vista de Goiás</td>
                        <td>Divinópolis de Goiás</td>
                        <td>Jussara</td>
                        <td>Mara Rosa</td>
                        <td>Caldas Novas</td>
                    </tr>
                    <tr>
                        <td>Bonfinópolis</td>
                        <td>Flores de Goiás</td>
                        <td>Matrinchã</td>
                        <td>Minaçu</td>
                        <td>Campestre de Goiás</td>
                    </tr>
                    <tr>
                        <td>Brazabrantes</td>
                        <td>Formosa</td>
                        <td>Montes Claros de Goiás</td>
                        <td>Monte Alegre de Goiás</td>
                        <td>Campo Alegre de Goiás</td>
                    </tr>
                    <tr>
                        <td>Buriti de Goiás</td>
                        <td>Guarani de Goiás</td>
                        <td>Mozarlândia</td>
                        <td>Montividiu do Norte</td>
                        <td>Castelândia</td>
                    </tr>
                    <tr>
                        <td>Cachoeira de Goiás</td>
                        <td>Iaciara</td>
                        <td>Mundo Novo</td>
                        <td>Mutunópolis</td>
                        <td>Catalão</td>
                    </tr>
                    <tr>
                        <td>Caldazinha</td>
                        <td>Luziânia</td>
                        <td>Nova Crixás</td>
                        <td>Niquelândia</td>
                        <td>Cezarina</td>
                    </tr>
                    <tr>
                        <td>Campo Limpo de Goiás</td>
                        <td>Mambaí</td>
                        <td>Novo Planalto</td>
                        <td>Nova Iguaçu de Goiás</td>
                        <td>Chapadão do Céu</td>
                    </tr>
                    <tr>
                        <td>Carmo do Rio Verde</td>
                        <td>Mimoso de Goiás</td>
                        <td>Piranhas</td>
                        <td>Nova Roma</td>
                        <td>Corumbaíba</td>
                    </tr>
                    <tr>
                        <td>Caturaí</td>
                        <td>Novo Gama</td>
                        <td>Santa Fé de Goiás</td>
                        <td>Porangatu</td>
                        <td>Cristianópolis</td>
                    </tr>
                    <tr>
                        <td>Ceres</td>
                        <td>Padre Bernardo</td>
                        <td>São Miguel do Araguaia</td>
                        <td>Santa Tereza de Goiás</td>
                        <td>Cromínia</td>
                    </tr>
                    <tr>
                        <td>Córrego do Ouro</td>
                        <td>Pirenópolis</td>
                        <td>Uirapuru</td>
                        <td>Santa Terezinha de Goiás</td>
                        <td>Cumari</td>
                    </tr>
                    <tr>
                        <td>Damolândia</td>
                        <td>Planaltina</td>
                        <td> </td>
                        <td>São João d&#39;Aliança</td>
                        <td>Davinópolis</td>
                    </tr>
                    <tr>
                        <td>Fazenda Nova</td>
                        <td>Posse</td>
                        <td> </td>
                        <td>Teresina de Goiás</td>
                        <td>Doverlândia</td>
                    </tr>
                    <tr>
                        <td>Firminópolis</td>
                        <td>Santo Antônio do Descoberto</td>
                        <td> </td>
                        <td>Trombas</td>
                        <td>Edealina</td>
                    </tr>
                    <tr>
                        <td>Goianápolis</td>
                        <td>São Domingos</td>
                        <td> </td>
                        <td>Uruaçu</td>
                        <td>Edéia</td>
                    </tr>
                    <tr>
                        <td>Goianésia</td>
                        <td>Simolândia</td>
                        <td> </td>
                        <td> </td>
                        <td>Gameleira de Goiás</td>
                    </tr>
                    <tr>
                        <td>Goiânia</td>
                        <td>Sítio d&#39;Abadia</td>
                        <td> </td>
                        <td> </td>
                        <td>Goiandira</td>
                    </tr>
                    <tr>
                        <td>Goianira</td>
                        <td>Sítio d&#39;Abadia</td>
                        <td> </td>
                        <td> </td>
                        <td>Goiatuba</td>
                    </tr>
                    <tr>
                        <td>Guapó</td>
                        <td>Valparaíso de Goiás</td>
                        <td> </td>
                        <td> </td>
                        <td>Gouvelândia</td>
                    </tr>
                    <tr>
                        <td>Guaraíta</td>
                        <td>Vila Boa</td>
                        <td> </td>
                        <td> </td>
                        <td>Inaciolândia</td>
                    </tr>
                    <tr>
                        <td>Guarinos</td>
                        <td>Vila Propício</td>
                        <td> </td>
                        <td> </td>
                        <td>Indiara</td>
                    </tr>
                    <tr>
                        <td>Heitoraí</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Ipameri</td>
                    </tr>
                    <tr>
                        <td>Hidrolândia</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Itajá</td>
                    </tr>
                    <tr>
                        <td>Hidrolina</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Itarumã</td>
                    </tr>
                    <tr>
                        <td>Inhumas</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Itumbiara</td>
                    </tr>
                    <tr>
                        <td>Ipiranga de Goiás</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Jandaia</td>
                    </tr>
                    <tr>
                        <td>Iporá</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Jataí</td>
                    </tr>
                    <tr>
                        <td>Israelândia</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Joviânia</td>
                    </tr>
                    <tr>
                        <td>Itaberaí</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Lagoa Santa</td>
                    </tr>
                    <tr>
                        <td>Itaguari</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Mairipotaba</td>
                    </tr>
                    <tr>
                        <td>Itaguaru</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Marzagão</td>
                    </tr>
                    <tr>
                        <td>Itapaci</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Maurilândia</td>
                    </tr>
                    <tr>
                        <td>Itapuranga</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Mineiros</td>
                    </tr>
                    <tr>
                        <td>Itauçu</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Mineiros</td>
                    </tr>
                    <tr>
                        <td>Ivolândia</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Montividiu</td>
                    </tr>
                    <tr>
                        <td>Jaraguá</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Morrinhos</td>
                    </tr>
                    <tr>
                        <td>Jaupaci</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Nova Aurora</td>
                    </tr>
                    <tr>
                        <td>Jesúpolis</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Orizona</td>
                    </tr>
                    <tr>
                        <td>Leopoldo de Bulhões</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Ouvidor</td>
                    </tr>
                    <tr>
                        <td>Moiporá</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Palestina de Goiás</td>
                    </tr>
                    <tr>
                        <td>Morro Agudo de Goiás</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Palmeiras de Goiás</td>
                    </tr>
                    <tr>
                        <td>Mossâmedes</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Palmelo</td>
                    </tr>
                    <tr>
                        <td>Nazário</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Palminópolis</td>
                    </tr>
                    <tr>
                        <td>Nerópolis</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Panamá</td>
                    </tr>
                    <tr>
                        <td>Nova América</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Paranaiguara</td>
                    </tr>
                    <tr>
                        <td>Nova Glória</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Paraúna</td>
                    </tr>
                    <tr>
                        <td>Nova Veneza</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Perolândia</td>
                    </tr>
                    <tr>
                        <td>Novo Brasil</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Piracanjuba</td>
                    </tr>
                    <tr>
                        <td>Ouro Verde de Goiás</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Pires do Rio</td>
                    </tr>
                    <tr>
                        <td>Petrolina de Goiás</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Pontalina</td>
                    </tr>
                    <tr>
                        <td>Pilar de Goiás</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Porteirão</td>
                    </tr>
                    <tr>
                        <td>Rialma</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Portelândia</td>
                    </tr>
                    <tr>
                        <td>Rianápolis</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Professor Jamil</td>
                    </tr>
                    <tr>
                        <td>Rubiataba</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Quirinópolis</td>
                    </tr>
                    <tr>
                        <td>Sanclerlândia</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Rio Quente</td>
                    </tr>
                    <tr>
                        <td>Santa Bárbara de Goiás</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Rio Verde</td>
                    </tr>
                    <tr>
                        <td>Santa Isabel</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Santa Cruz de Goiás</td>
                    </tr>
                    <tr>
                        <td>Santa Rita do Novo Destino</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Santa Helena de Goiás</td>
                    </tr>
                    <tr>
                        <td>Santa Rosa de Goiás</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Santa Rita do Araguaia</td>
                    </tr>
                    <tr>
                        <td>Santo Antônio de Goiás</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Santo Antônio da Barra</td>
                    </tr>
                    <tr>
                        <td>São Francisco de Goiás</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>São João da Paraúna</td>
                    </tr>
                    <tr>
                        <td>São Luís de Montes Belos</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>São Miguel do Passa Quatro</td>
                    </tr>
                    <tr>
                        <td>São Luíz do Norte</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>São Simão</td>
                    </tr>
                    <tr>
                        <td>São Patrício</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Serranópolis</td>
                    </tr>
                    <tr>
                        <td>Senador Canedo</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Silvânia</td>
                    </tr>
                    <tr>
                        <td>Taquaral de Goiás</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Três Ranchos</td>
                    </tr>
                    <tr>
                        <td>Terezópolis de Goiás</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Turvelândia</td>
                    </tr>
                    <tr>
                        <td>Trindade</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Urutaí</td>
                    </tr>
                    <tr>
                        <td>Turvânia</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Varjão</td>
                    </tr>
                    <tr>
                        <td>Uruana</td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Vianópolis</td>
                    </tr>
                    <tr>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td> </td>
                        <td>Vicentinópolis</td>
                    </tr>
                </tbody>
            </table>

        </table>
    </section>

    <footer id="sticky-footer" class="py-4">
        <div class="text-center">
            <img src="../../../assets/img/assinatura-02.png" class="img-fluid " alt="Relatório do desmatamento.">
        </div>
    </footer>

</div>