<div id="capacitacao" class="container">
    <nav class=" shadow-lg mt-5 navbar navbar-expand-lg  bg-dark">
        <a class="navbar-brand ml-4" href="#">
            <img class="img-logo" src="../../../assets/logo/logo-dpat.png" alt="Cerrado DAPT" loading="lazy">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup">
            <mat-icon>menu_open</mat-icon>
        </button>
    </nav>

    <section id="slider">
        <h4 class="mt-5 mb-5 text-center">Capacitações do Cerrado DPAT</h4>
        <img class="shadow-lg d-block folder" src="../../../assets/img/folder.jpeg" alt="Folder">
    </section>

    <section class="m-2 mt-4" id="resumo">
        <p class="mt-2 text-justify lead">
            O Ministério de Ciência, Tecnologia e Inovação (MCTI), a Universidade Federal de Goiás (UFG) e a Federação Goiana de Municípios (FGM) convidam para a Capacitação do Cerrado DPAT: uso e conhecimento da plataforma desenvolvida para qualificação e contextualização do desmatamento no bioma Cerrado.
        </p>
        <p class="mt-2 text-justify lead">
            As capacitações serão online, gratuitas e com emissão de certificado. A sua programação consiste na abordagem dos conceitos básicos de geotecnologias, com o foco no uso de mapas temáticos e imagens de satélite no monitoramento do desmatamento.
        </p>
        <p class="mt-2 text-justify lead">
            O Cerrado DPAT é mais um instrumento remoto de fiscalização ambiental e territorial para os gestores.
        </p>
    </section>

    <section class="m-2 mt-4">
        <a class="" target="_blank" href="https://docs.google.com/forms/d/1qmOPRXuY74BBcPfY6eaUqEPXHRY05P4mV843cSX8QQA/edit">
            <div class="btn-subscribe">Inscreva-se clicando aqui</div>
        </a>
    </section>
    <section class="m-2 mt-4 capacitacoes">
        <h4 class="mt-5 text-center">Calendário de capacitações</h4>
        <div class="cards">
            <div class="card">
                <h5 class="card-title">1º Capacitação Plataforma Cerrado DPAT</h5>
                <div class="card-body">
                    <p>Público: Municípios das mesorregiões Norte, Leste e Noroeste</p>
                    <p>Data: 10 e 11/03</p>
                    <p>Horário: 08h às 12h - 14h às 17h</p>
                </div>
            </div>
            <div class="card">
                <h5 class="card-title">2º Capacitação Plataforma Cerrado DPAT</h5>
                <div class="card-body">
                    <p>Público: Municípios da mesorregião Centro Goiano</p>
                    <p>Data: 17 e 18/03</p>
                    <p>Horário: 08h às 12h - 14h às 17h</p>
                </div>
            </div>
            <div class="card">
                <h5 class="card-title">3º Capacitação Plataforma Cerrado DPAT</h5>
                <div class="card-body">
                    <p>Público: Municípios da mesorregião Sul Goiano</p>
                    <p>Data: 24 e 25/03 </p>
                    <p>Horário: 08h às 12h - 14h às 17h</p>
                </div>
            </div>
        </div>
    </section>
    <section class="m-2 mt-4 mesoregions">
        <h4 class="m-5 text-center">Mesoregiões</h4>
        <div class="regions">
            <img class="" src="https://www.imb.go.gov.br/images/mapas/mapa-mesorregioes-goias-ibge.jpg" alt="Regiões">
            <p>1 - Centro Goiano</p>
            <p>2 - Leste Goiano</p>
            <p>3 - Noroeste Goiano</p>
            <p>4 - Norte Goiano</p>
            <p>5 - Sul Goiano</p>
        </div>
        <p class="mt-5 text-justify lead">
            Confira <a href="https://www.imb.go.gov.br/geoinforma%C3%A7%C3%A3o/mapas/mapas-das-mesorregi%C3%B5es-de-goi%C3%A1s-ibge.html" target="_blank"> aqui</a> a mesorregião que seu município integra.
        </p>
    </section>

    <footer id="sticky-footer" class="py-4">
        <div class="text-center">
            <img src="../../../assets/img/assinatura-02.png" class="img-fluid " alt="Relatório do desmatamento.">
        </div>
    </footer>

</div>